[2019-03-19 22:53] omarkhatibco opened #1 "consider publishing to npm"
Hi @davidcetinkaya

I tried to test the slider but seems you did not published it to npm.

[2019-03-19 22:57] omarkhatibco opened #2 "The slider missing autoplay option"
Hi @davidcetinkaya

It's would be good if you add autoplay option too.

Thanks for this awesome slider !

[2019-03-20 09:10] davidcetinkaya commented on #1
@omarkhatibco, Wow! You're fast =). I will publish it as soon as possible. Just need to add some examples and adjust some stuff first.

[2019-03-20 20:14] davidcetinkaya commented on #1
Package is now published on **NPM**, here's a [link](https://www.npmjs.com/package/embla-carousel). I'm closing this issue.

[2019-03-20 20:14] #1 closed

[2019-04-05 15:13] davidcetinkaya commented on #2
Hi @omarkhatibco,

I'm planning on publishing more examples soon so I'll be sure to include an autoplay example.

[2019-04-06 20:47] SLMNBJ opened #6 "New Feature: Accessibility"
Would be nice to have the slider accessibile, maybe with custom labels (i18n).

[2019-04-06 20:54] SLMNBJ opened #7 "New Feature: Add cssClass to the selected slide"
Would be helpful to animate some elements inside the slide when is selected.

[2019-04-08 07:22] omarkhatibco commented on #2
Thanks! @davidcetinkaya

[2019-04-10 18:41] davidcetinkaya commented on #7
Hi @SLMNBJ ,
With version [0.3.0](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v0.3.0) it's possible to **choose css class** of your liking for the selected slide. If you don't specify a css class Embla will use the default class which is **is-selected**.

Read about how to achieve this [here](https://github.com/davidcetinkaya/embla-carousel#options).

I'm closing this issue. Than

[2019-04-10 18:43] #7 closed

[2019-04-10 18:56] davidcetinkaya commented on #6
Hi @SLMNBJ ,
What do you mean by accessibility? Like **aria-hidden=""** labels?

[2019-04-12 08:13] SLMNBJ commented on #6
Hi @davidcetinkaya,
Yes, I'm talking about the aria-labels. For example, when i navigate using the VoiceOver, i would like to header next slide, previous slide (maybe with custom labels for multiple languages). Same for the dots navigation.

[2019-04-30 11:39] davidcetinkaya commented on #6
Hi @SLMNBJ,
Thanks for the clarification!

If I'm to add this to the Embla core, I'd need some kind of **draft or a well specified suggestion** on how to implement this (based on web accessibility standards for carousels).
Emblas purpose is to provide the **tools** to build great physics-based carousels rather than providing a huge set of features out of the box, so any added feature should be as

[2019-05-15 13:21] michaelrambeau opened #8 "Improve the documentation by providing a full example of code?"
Hello again David @davidcetinkaya
As mentioned in _Best of JavaScript_ issue (https://github.com/michaelrambeau/bestofjs/issues/237), I think you could improve the documentation by providing a full example of markup and JavaScript code.

You could use something like https://codepen.io and embed the "pen" directly in the demo page.

I'm asking because it took me some time to realize that I have to

[2019-05-30 11:52] davidcetinkaya commented on #8
Hello Michael @michaelrambeau
Thank you for submitting this issue and pointing that out!

I've created a [CodeSandbox](https://codesandbox.io/) with a full example of markup and JavaScript code. You'll find these links on both the [demo](https://davidcetinkaya.github.io/embla-carousel/) page and in the [docs](https://github.com/davidcetinkaya/embla-carousel).

Please take a look at the attached sc

[2019-05-30 20:05] davidcetinkaya commented on #2
Hello Omar @omarkhatibco ,
First off, thank you for reporting this!

I've created a trivial example of how to achieve **autoplay** with Embla Carousel in [this CodeSandbox](https://codesandbox.io/s/embla-carousel-autoplay-4yhr2). I hope it helps and feel free to tweak it to your liking =).

I know, all slider plugins have autoplay. I really understand that =). But since Embla Carousel’s purpose is

[2019-06-04 19:35] davidcetinkaya opened #9 "Wrong option in README"
Wrong option name is showing in README.

[code]

[2019-06-04 21:12] davidcetinkaya commented on #9
Fixed here [0507dcf](https://github.com/davidcetinkaya/embla-carousel/commit/21768a3640840fd35aa70552e0d56f4a76775dd6) and [21768a3](https://github.com/davidcetinkaya/embla-carousel/commit/b36a57e3364cab8945082c87f999ec935b68c987).

[2019-06-04 21:12] #9 closed

[2019-06-06 12:39] michaelrambeau commented on #8
Sorry for the late feedback David, that looks good, thank you for your efforts!

It's not related but it's something I noticed when I checked the demo on CodeSandbox: when the loop mode is off, why the previous button is displayed on the first slide, since it triggers nothing? Should it be automatically hidden or disabled?

[2019-06-06 20:28] davidcetinkaya commented on #8
Hi @michaelrambeau,
No worries, thanks for taking the time to check it out and I'm glad that the CodeSandbox links helped 😃.

At the time of writing Embla Carousel doesn't provide any **previous/next** button states. It just provides following methods and the rest is up to the user:

[code]

Just so I understand your question correctly, are you suggesting that:

1. I should implement an **enabled/

[2019-06-06 21:32] michaelrambeau commented on #8
@davidcetinkaya I was trying to update the example on CodeSandbox (which is very useful to play with Embla by the way) to try to add the behavior I described.

Now I can use the following methods:

- `groupedIndexes()`
- `selectedIndex()`

Just an idea: maybe `embla` object could expose some convenient methods or properties like `isFirstSlide`, `isLastSlide`, `hasPreviousSlide` and `hasNextSlide`

[2019-06-07 05:47] davidcetinkaya commented on #8
Hello again Michael @michaelrambeau,

Good Idea! Please open a new issue so we can keep the discussion relevant to the  topic 🙂.

You can just copy paste the question and I’d be very happy to help you with this 👍🏻.

I’m closing this issue and thanks a ton for reporting this Michael, I think your idea really improved things ⭐️.

[2019-06-07 05:47] #8 closed

[2019-06-07 05:50] davidcetinkaya commented on #2
Hi Omar @omarkhatibco,

Have you had the chance to check out the [CodeSandbox](https://codesandbox.io/s/embla-carousel-autoplay-4yhr2) link and my response above?

Cheers 👍🏻

[2019-06-08 00:17] michaelrambeau opened #10 "Add methods about previous and next slides in the API?"
Hello again, I was checking the example on CodeSandbox.

I wanted to customize the example to hide the "Previous" button when the first slide is shown and if the "loop" mode is off.

I have seen I can grab the current index position with `selectedIndex()` and the total number of slides using `groupedIndexes()` but it's not very obvious and the concept of "grouped slides" is a bit confusing.

Maybe

[2019-06-09 12:36] omarkhatibco commented on #2
Hi @davidcetinkaya
Yes I tested it, and it works great!

Thank you, this Example is what I need.

[2019-06-09 12:36] #2 closed

[2019-06-09 12:55] davidcetinkaya commented on #2
Hello Omar @omarkhatibco,

I’m glad it helped 🙂!

Cheers 👍🏻

[2019-06-09 20:53] davidcetinkaya commented on #10
Hi Michael @michaelrambeau,
Thank you for opening this issue!

I've added an example implementation of what you're asking for in this [CodeSandbox](https://codesandbox.io/s/embla-carousel-loop-false-oyols). You'll find the code in the `prevAndNextButtons.js` file.

Below is a short explanation of the code:
[code]

Do you think this makes sense? Or do you think there are more intuitive approaches t

[2019-06-10 12:21] michaelrambeau commented on #10
@davidcetinkaya Thank you David for your quick answer.

It makes sense even if I'd prefer a little more "expressive" API, but it's more a personal taste, let's wait until a second person requests it.

I'm closing the issue since the example you did on CodeSandbox solves the problem.

Congratulations for your 100 first stars on GitHub! ⭐️

[2019-06-10 12:31] davidcetinkaya commented on #10
Thanks for the feedback Michael @michaelrambeau. Feel free to open a new issue at any point if you think there's room for any improvement :slightly_smiling_face:.

And thank you for the congrats ⭐️, I'm very happy that people appreciate **Embla Carousel**. And with your help it gets better 👍.

[2019-06-14 07:39] davidcetinkaya commented on #10
Hi Michael @michaelrambeau,

I hope you're doing great :slightly_smiling_face:. I've been thinking about what you said about a more of an **expressive** API and I think this idea is really good. So I've decided to reopen this issue and will ping you as soon as I've implemented this. Thank you so much for this amazing input :+1::skin-tone-2:!

PS. Feel free to check out the new implementation of th

[2019-06-14 10:23] davidcetinkaya opened #11 "Add browser support to README"
A `browser support list` is missing. It should be added to the README ASAP.

Thanks @ehellman for reporting this!

[2019-06-16 19:40] davidcetinkaya commented on #10
Hi Michael @michaelrambeau,

I've added the requested API methods now. Please see [release v0.9.0](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v0.9.0). The only difference from your suggestion is that I decided to go with index instead of slide, so `isFirstSlide()` became `isFirstIndex()`.

The reason for this is that the `groupSlides` option allows for multiple slides within a s

[2019-06-17 06:26] michaelrambeau commented on #10
Hello David @davidcetinkaya  thank you for the latest improvements!

I checked the `dragFree` option, it works well, maybe you could add a few lines of explanation in the demo about that behavior.

About the slides and the indexes, I still don't understand the concept of multiple slides on the same index, is there an example somewhere of that use-case, what real-world problem is it solving?

It ma

[2019-06-17 11:30] davidcetinkaya commented on #10
Hi Michael @michaelrambeau,

Thank you for your feedback 😃. It really helps me improve stuff. I will do my best to explain the `groupSlides` feature and please be honest and say if my explanation is unclear in some way 🔥.

The `groupSlides` feature makes sense when you want to show multiple slides in the carousel viewport at once. This will probably happen more often on bigger screen sizes like ta

[2019-06-17 21:39] michaelrambeau commented on #10
Hello David @davidcetinkaya
The demo makes perfectly sense, now I understand, thank you.
So it's about defining "multiple slides per view".

I don't know if "view" is the best word, because it's very generic, but it's the one used by _Swiper_ library, they have this option:

So maybe instead of `isFirstIndex` you could be more explicit and call it `isFirstView` and so on...

An other idea would be

[2019-06-18 05:36] davidcetinkaya commented on #6
I’m closing this due to lack of response. Thank you for reporting this 👍🏻!

[2019-06-18 05:36] #6 closed

[2019-06-18 14:25] davidcetinkaya commented on #10
Yeah, need to think of a better **name** for it. This naming thing can be so hard sometimes :sweat_smile: .

Thanks a ton for the ideas Michael @michaelrambeau, you're always helpful :muscle: !

[2019-06-18 14:57] afilp opened #12 "1 slide is not displayed"
When I have 2 slides, the carousel works as expected.

If I have just 1 slide the slide does not show and it is with `left: 100%`.

I found that the reason is the option `loop: true`.

Since we are populating the slides dynamically, can the lib disable the loop if the slide is just one?

[2019-06-18 15:26] davidcetinkaya commented on #12
Hello @afilp,
Thank you for reporting this 👍🏻!

I think your suggestion makes sense. So basically just fallback to `loop: false` if the number of slides is 1?

[2019-06-19 14:57] davidcetinkaya commented on #12
Hi @afilp,

Release [v0.9.4](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v0.9.4) should be a solution to this problem 🎉. Please give it a shot and confirm if it's working or not.

Thank you 👍!

[2019-06-19 15:37] davidcetinkaya commented on #10
Hi Michael @michaelrambeau,
How about this, we change the name of the methods/options `(left)` to the proposed `(right)` 🙂:

- groupSlides --> `slidesToScroll`
- isFirstIndex --> `isStartScroll`
- isLastIndex --> `isEndScroll`
- hasPreviousIndex --> `canScrollPrevious`
- hasNextIndex --> `canScrollNext`

I look forward to your feedback ☺️ 👍🏻!

[2019-06-19 17:34] davidcetinkaya commented on #11
Added in release [v1.0.0](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v1.0.0).

[2019-06-19 17:34] #11 closed

[2019-06-19 23:44] michaelrambeau commented on #10
Hello David @davidcetinkaya
Yes, if possible, I think it's better if the high-level API does not mention the word `index` because of the possible confusion between views and slides inside the views, so `canScrollPrevious()` and `canScrollNext()` sound good to me.

We may need `isStartScroll` if the user wants to make something about the first slide displayed on the screen because `canScrollPreviou

[2019-06-19 23:54] davidcetinkaya commented on #10
Thank you Michael @michaelrambeau 😃!

I'm glad you think the `scroll` naming is more clear. Good point about the consistency with the word `scroll`. I will take that into account when renaming the methods 👍 .

Side note: I just released a working `React` version of Embla if you're interested. Try it on [CodeSandbox](https://codesandbox.io/s/embla-carousel-react-znjzv) or check it out on [Github](h

[2019-06-20 13:06] michaelrambeau commented on #10
@davidcetinkaya Thank you David, I will definitively check the React version, being a heavy user and a big fan of React!

I'm closing this issue but I guess we will talk very soon about the React version.

Keep up the great work!

[2019-06-20 13:06] #10 closed

[2019-06-24 15:58] maiconrs95 opened #13 "Blank space before last slide"
when align is start, the last slide automatically adds a blank. Is there any way to lock the last slide on the edge of the container?

![blank-space](https://user-images.githubusercontent.com/19610095/60033854-c284b200-967f-11e9-9378-253b291d6fdb.png)

[2019-06-24 16:37] davidcetinkaya commented on #13
Hello Maicon @maiconrs95,

Thank you for opening this issue 🙂!
This is not possible at the moment of writing. But maybe this should be a property for the `option` object like so:

[code]

Also `align: 'end'` is affected by this since there can be blank space at the beginning of the carousel too. However, if `loop: true`, `noExcessiveScroll` should have no effect.

Is this the kind of feature you'r

[2019-06-26 04:16] rickibarnes opened #14 "Trying to display multiple slides, scroll by one slide only"
I can use CSS to quickly change Embla so that instead of showing a single slide, it shows more (e.g. `width:25%`), however when using `scrollNext` and `scrollPrev`, it still scrolls by 100%, for the full number of slides.

This means that for several clicks on next/prev button, there are no slides showing. I really like Embla and don't want to have to implement a different solution, but I have no

[2019-06-26 04:40] davidcetinkaya commented on #14
Hello @rickibarnes,
Thanks for reporting this issue 👍🏻!

I’m not quite sure I understand. Are you changing the slide widths **dynamically** with CSS?

Would you mind forking this [CodeSandbox](https://codesandbox.io/s/embla-carousel-loop-false-oyols) to create an example that demonstrates the issue?

Thank you in advance!
David

[2019-06-26 04:46] davidcetinkaya commented on #12
@afilp,
Did you get a chance to test if the changes solved the issue?

Thank you in advance ⭐️!

[2019-06-26 05:26] rickibarnes commented on #14
Hey thanks for replying so quickly. That sandbox you've set up works perfectly when I do what I'm trying to do in my own code, so obviously it's something about how I've got things set up.

I suspect it's because I'm doing it manually, not through node or yarn or anything. I've found it's quite hard (for me) to convert the examples to how I need it.

[2019-06-26 05:42] davidcetinkaya commented on #14
Hi @rickibarnes,

No worries, I’m happy if I can help you solve this 👍🏻.

It should work the same even if you inject the script manually with a `<script>` tag. Maybe you can compare the **HTML setup** and how it’s done in that Sandbox example i sent you?

Or you could create a separate CodeSandbox with only your code, so I can debug what’s going on 🙂?

[2019-06-26 08:14] rickibarnes commented on #14
I'm having a bit of trouble doing any of those things. I know this is a noob question, but when making a CodeSandbox, how do I include the script manually? I tried copy/paste into a new script file, but that gave me a million linting problems and my embla wouldn't work.

[2019-06-26 08:25] davidcetinkaya commented on #14
@rickibarnes, I understand 👍.
I'll help you get started. I'm at work right now but I'll get to it as soon as possible. I'll let you know when I've set up an example you can work with to demonstrate the issue.

[2019-06-26 17:08] davidcetinkaya commented on #14
Hello @rickibarnes,

I've setup a [CodePen here](https://codepen.io/DavidCetinkaya/pen/jjGYgx) where you should be able to add your own code. As you can see in the `HTML` column I've included the `<script>` tag for you.

When you're done, just hit the `Save` button at the top and copy the `url` in the browser adressbar, and send it to me here. That way I can debug what's going on and hopefully pin

[2019-06-27 08:02] rickibarnes commented on #14
Thanks mate, I really appreciate how responsive you are on this. I've [forked that Pen](https://codepen.io/rickibarnes/pen/zVPYVP), but frustratingly I'm not able to replicate the error. This little example works exactly as I would want it to, with the exception of a strange overlap on the last of the thumbnails (you can see it with the border on).

Funnily enough, at one point yesterday, my broke

[2019-06-27 08:54] davidcetinkaya commented on #14
No worries, I'm glad if I'm helping 🙂. Hmm, very strange that it doesn't seem consistent 😕 .

So I looked at the `CodePen` I got from you and I saw an issue with how you add space between the slides. Margin was applied directly to the slide elements, but the **recommended way** of adding space between slides is as follows:

[code]

[code]

Please take a look at the [modified CodePen](https://codep

[2019-07-01 17:30] davidcetinkaya commented on #12
I'm closing this due to inactivity. Feel free to open a new issue if needed.

Thanks!

[2019-07-01 17:30] #12 closed

[2019-07-04 06:51] davidcetinkaya commented on #14
Hello again @rickibarnes,
Just out of curiosity, did the [modified Codepen](https://codepen.io/DavidCetinkaya/pen/OeOVgO) help you?

Thanks in advance 👍.

[2019-07-04 08:48] davidcetinkaya commented on #13
Hello again @maiconrs95,
Have you had the chance to consider my suggestion?

Thank you in advance 👍!

[2019-07-10 22:27] davidcetinkaya opened #15 "canScrollNext and canScrollPrev does not work as expected"
The API methods `canScrollNext()` and `canScrollPrev()` always return **false** when `loop: true`. It should be the opposite. They should always return **true** for both these methods when `loop: true`.

[2019-07-10 22:31] davidcetinkaya commented on #15
Solved with [release v2.1.14](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v2.1.14).

[2019-07-10 22:31] #15 closed

[2019-07-11 16:39] davidcetinkaya commented on #13
Closing this due to lack of response. Feel free to reopen the issue if you don’t think it’s resolved.

Thanks!

[2019-07-13 02:53] rickibarnes commented on #14
Hi David,
My apologies for not getting back to you sooner - I have just started a new job and have been flat out with it. Yes, the modified Codepen sorted out the space between the slides for me, thanks for that.

I still haven't managed to sort out the scrolling issue, when I get a chance I will see if I can make my broken page live and give you the link to it.

[2019-07-14 20:12] davidcetinkaya commented on #14
Hi Ricki @rickibarnes,

No worries, that’s very understandable. I was just curious and didn’t mean to stress you. I hope you like your new job 💪🏻!

Glad to hear that the Codepen fixed the space you mentioned 👍🏻. Please let me know if you need any further help with anything.

Thanks for getting back to me 🙂.
David

[2019-07-16 11:50] #13 closed

[2019-07-16 15:31] maiconrs95 commented on #13
@davidcetinkaya,
thank you very much. Sorry for the delay to respond, but I was not following anything for a while.
Apparently it is working as proposed.
Thank you very much

[2019-07-16 16:25] davidcetinkaya commented on #13
Hi Maicon @maiconrs95

No worries, that's understandable. I hope I didn't stress you and I'm glad it's working as you expected 🙂!

Thank you very much for opening this issue! Your idea lead to a new feature for Embla Carousel which I think is a great addition 👍.

If you're a `React`-person, be sure to check out the [Embla Carousel React](https://github.com/davidcetinkaya/embla-carousel-react) vers

[2019-07-24 07:38] davidcetinkaya commented on #14
Hello Ricki @rickibarnes,

I'm closing this issue due to inactivity. Feel free to reopen this issue if you think that this is a bug that needs attention.

Thank you for opening this issue 👍!

[2019-07-24 07:38] #14 closed

[2019-07-25 05:44] xoumi opened #16 "Only works after a screen refresh (Vue framework)"
Embla only seems to work after the page is refreshed in some way such as a resize.
When the page loads at first, embla appears to be unresponsive, as if it does not exist.
I noticed the 'is-dragging' classes are being applied meaning embla is loaded and working but the transforms don't get applied until I resize the page.
In hindsight, it might be a vue issue, but I wanted to get your thoughts fir

[2019-07-25 08:31] davidcetinkaya commented on #16
Hello @xoumi,
Thank you for opening this issue 👍.

It's a bit hard to troubleshoot without any code at hand, but I'm guessing that it has something to do with when:

[code]

...is called. Or similar 🤔.

Because front-end frameworks/libraries abstract the vanilla JavaScript away and often use **component methods**, like when a component has **mounted**. Maybe you need to hook on to a `mounted()` me

[2019-07-26 05:26] xoumi commented on #16
Thanks for the quick reply !
And sorry for the late reply.
I'm just a beginner in the field of web development so I probably cannot go around writing generic use case modular wrappers but I can provide some insight on how it weirdly got fixed:
I went through the docs again and noticed the `position: relative` css on `embla__slide`.
Even though I've set the loop property of embla to false, I needed

[2019-07-26 09:21] davidcetinkaya commented on #16
Hi again @xoumi,

I've setup a working [CodeSandbox example](https://codesandbox.io/s/vue-template-1yoir) for you. It works on initialisation and doesn't need a resize in order to work correctly.

Try it out if you like 👍!

Just a **disclaimer**: I write code in Vanilla JS and React on a daily basis so I don't feel comfy with Vue. I can't guarantee that the example I've setup for you follows any V

[2019-07-27 20:09] davidjerleke opened #17 "Vue 3 wrapper"
# Feature description

Create an **Embla Carousel Vue** wrapper - A component that allows Vue users to consume Embla Carousel.

## Release
Released with [v7.0.0-rc05](https://github.com/davidjerleke/embla-carousel/releases/tag/v7.0.0-rc05). Documentation will be released with stable v7 but until then you can check out usage instructions below:

# Vue wrapper

Start by installing the Embla Carousel

[2019-07-27 20:10] #16 closed

[2019-07-31 08:26] davidjerleke opened #18 "[Feat]: Build an Angular wrapper"
Create an Embla Carousel Angular npm package - A wrapper component that allows Angular users to consume Embla Carousel like the React implementation.

~~Please react with --> 👍 if you want this to be implemented.~~

- This will be merged with #627.

[2019-08-09 09:13] mrksmts opened #19 "Snappoints on showing multiple slides"
Currently I am implementing Embla Carousel in a project where we have multiple slides in the viewport at once, this basically means 2.5 slides are always visible.

When we containScroll and align start the items the snappoints for slide 4 and 5 are the same so it feels there should be one less snappoint for these settings.

I've setup a sandbox forked from one of the other issues to explain this i

[2019-08-09 15:31] davidcetinkaya commented on #19
Hello Mark (@mrksmts),

Thank you for taking the time to report this issue + the clear sandbox example 👍🏻.
I hope you don’t mind the delayed response, I have a newborn at home 👶🏻🍼.

Have you tried setting the `slidesToScroll` option to `2`? When you have 2 fully visible slides in viewport you can cut redundant snap points using this option.

I’d very much appreciate if you can confirm if this is t

[2019-08-12 11:55] mrksmts commented on #19
Hi David (@davidcetinkaya)

I am not sure that would work because we would like to be able to slide per item.

And in the example the slide width is 40% so it would always be 2 but If you make it 250px for example and the carousel 100% it really depends on the width of the carousel and the amount of slides in the view that would determine the snap points.

Best,

Mark

[2019-08-12 12:14] davidcetinkaya commented on #19
Hi Mark (@mrksmts),

I understand your point of view. In the example you provided slide 4 and 5 share the same snap point because of `containScroll` that cuts excessive scroll at the end.

I don’t know what a sensible solution to this would look like. The current implementation of `containScroll` is by design, and works pretty much like [Flickity’s contain](https://flickity.metafizzy.co/options.ht

[2019-08-14 08:56] mrksmts commented on #19
Hi David (@davidcetinkaya)

What do you think about something like a boolean called `trimSnapPositions` which basically removes all snap points that are the same? Then you could leave it up to the user.

[2019-08-14 12:48] davidcetinkaya commented on #19
Hi again Mark (@mrksmts),

Thanks for getting back to me. Let me try this in code and see if it’s an easy fix or if there are some unexpected consequences with this 🧐.

I’ll get to it as soon as possible, I have a newborn getting my primary attention at home so thank you for being patient 👶🏻🍼.

Best,
David

[2019-08-14 13:54] SachaMPS commented on #19
Wanted to ask the exact same thing and found this open issue right now.. made more or less the same example... https://codepen.io/sachamps/pen/XWrXvGq

If you could point me to the best place in your code to get a hand on it i would at least try to make a PR which you could review... If not no problem... Congratulations 👶🏻!!!

[2019-08-14 14:28] davidcetinkaya commented on #19
Welcome Sacha (@SachaMPS),

Thank you 👶🏻.

And another good example illustrating the feature request clearly 👍🏻.

What’s **your** opinion on this?

1. Snap points that share the same position and don’t trigger any scroll should be merged.
2. It should be an option for the user.

❓

Thank you in advance,
David

[2019-08-14 14:52] SachaMPS commented on #19
HeyHo @davidcetinkaya,

i am just reading (and logging :) through your code to find out how all the stuff works.

Right now I would try not to mess with the anything too much at all. I am asking myself if the API call `canScrollNext` in that case should return `false`.

Alternatively there could be another API call which exposes `reachedMin`.

In both cases there wouldn't be the need to add someth

[2019-08-14 15:56] davidcetinkaya commented on #19
Hi Sacha (@SachaMPS),

We could make `canScrollPrev` and `canScrollNext` recognize when the carousel is scollable or not, but that doesn't solve the problem with **dot navigation**.

**Example:**
Let's say we have a carousel setup with the following:

- 5 slides
- containScroll: true
- align: 'start'

👉 See [CodeSandbox](https://xdpsb.csb.app)

In order to setup **dot navigation** there's a useful

[2019-08-14 16:36] SachaMPS commented on #19
@davidcetinkaya  I am not sure if a dot navigation makes sense in that kind of config at all... I mean what does the Dot-Navigation mean in that case... I think having 5 slides  but only three dotes to navigate with would be totally irritating.

[2019-08-14 18:52] davidcetinkaya commented on #19
@SachaMPS, it’s not obvious to me that the number of slides has to match the number of dots. In a real world usage example carousels generally don’t have obvious slide numbers like in the example I sent you. They often contain images or maybe a combination of text and an image.

If slide widths are small enough so 2 or more slides are visible in viewport at the same time, it might be equally annoy

[2019-08-15 05:51] davidcetinkaya commented on #16
Building a Vue wrapper for Embla issue has been opened here #17.

[2019-08-19 12:11] davidcetinkaya commented on #19
Hi Mark (@mrksmts),

Just want to let you know that I'm working on this. I've not decided if:

**A.** Snap points that don’t trigger any scroll will be merged automatically.
**B.** It should be an option for the user.

But at this point I've tried this in code (in an ugly way) and I'm hoping to get some time to finish this and wrap it up soon.

Best,
David

[2019-08-20 08:36] mrksmts commented on #19
Hi David (@davidcetinkaya)

Thanks! That's great to hear. You could put it in by default and give the user the option to turn it off or the other way around.

Let me know if I can test or help with anything.

Best,
Mark

[2019-08-22 15:02] davidcetinkaya commented on #19
Hello Mark (@mrksmts),

No worries 👍. I have some small fixes left to do at this point. If I create a **new branch**, would you mind cloning the repo to your local machine and testing the new feature as soon as I'm finished?

Best,
David

[2019-08-25 15:45] davidcetinkaya opened #20 "Add contributors to README"
Add all contributors to README. Try one of the following plug-ins:

- [Contributor Faces](https://github.com/ngryman/contributor-faces)

[2019-08-30 19:21] davidcetinkaya commented on #19
Hi Mark (@mrksmts),

I'm very happy to announce that release [v2.4.0](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v2.4.0) comes with the functionality you're looking for 🚀.

I decided to go with Embla **automatically merging** excessive **snap points** that share the same position, rather than making it an option. The reason being is that I couldn't think of any use case where it

[2019-09-01 19:50] #20 closed

[2019-09-10 07:21] davidcetinkaya commented on #19
Hello Mark (@mrksmts),
Just curious, have you had the change to try if this is working as expected yet?

Thanks!
David

[2019-09-15 11:41] davidcetinkaya commented on #19
Closing due to inactivity. Feel free to re-open this issue if you don’t think it’s working as expected.

Thanks for opening this issue and improving Embla 👌🏻!

[2019-09-15 11:41] #19 closed

[2019-09-16 06:17] davidcetinkaya opened #21 "Scroll Progress (get)"
## 👉 Conclusion / Feature Specification

The discussion in this issue has resulted in a decision to implement **a new API method** as described below:

[code]

### Example Usage
[code]

### Special thanks
@xiel for discussing this and sharing your thoughts and ideas.
@welteki for the nice demonstration.

[2019-09-16 08:02] xiel commented on #21
Hey David,
I think this makes a lot of sense and would be a great addition to the API. It would make it possible to sync other things to the movement or implement other kinds of pagination indicators etc.

Would you also consider an API for setting of scroll progress at the same time?
`embla.scrollProgress(20)`
`embla.scrollBy(-15)`

This could be used to sync Embla to external things (like scroll

[2019-09-16 08:14] davidcetinkaya commented on #21
Hi Felix (@xiel),
Thank you for your feedback. This is a great suggestion 🙂.

Just want to confirm that I understand you correctly. At the time of writing we have a method called: `embla.scrollTo(index)` which scrolls to a specific snap point index. Maybe we should think about how we name these methods to avoid confusion?

- `embla.scrollProgress()` --> **retrieves** the current scroll position in

[2019-09-16 09:13] xiel commented on #21
I had a get/set interface in mind, so when you do not pass anything, you get the current value back. And if you pass something, this value will gets applied.

`embla.scrollProgress()` // get in %
`embla.scrollProgress(number)`  // set in %

Sometimes relative change to the current position is more interesting. For that, a second convenience method could offer to update the position by a relative v

[2019-09-18 11:05] Tscheffrey opened #22 "Only dispatch dragStart event if mouse is actually dragging"
It would be great if the dragStart event would not fire when the mouse goes down but rather when the cursor actually starts moving. Currently, dragStart and dragEnd will be fired if I only click/touch the slider without moving the cursor.

This would be useful to me because I am currently listening to both click events on items and dragStart/dragEnd Events and change styles accordingly. This leads

[2019-09-18 19:51] davidcetinkaya commented on #21
Hello Felix (@xiel),

That's surely a lot to take in 😄. But I always appreciate ideas so thank you for taking time to discuss this. So I think `embla.scrollProgress()` is pretty straightforward:

[code]

And I think I understand the idea for `scrollProgress(number)` and `scrollBy(number)`:

[code]

[code]

Methods like `scrollProgress(number)` and `scrollBy(number)` would move the carousel to arbi

[2019-09-18 20:16] davidcetinkaya commented on #22
Hi Jeff (@Tscheffrey),

Thank you for opening this issue!

You have a good point 👍. Thinking about these event names, they are pretty unfortunate as you describe. Considering the current implementation and behaviour of `dragStart` and `dragEnd` they should be renamed like below to better represent what they actually do:

- `dragStart` --> `pointerDown`
- `dragEnd` --> `pointerUp`

If you don't min

[2019-09-19 08:34] Tscheffrey commented on #22
Hey David (@davidcetinkaya),

thank you for your quick reply. I'll make a CodeSandbox if I have some time today.

I totally agree with what you suggested, as the `pointerDown` / `pointerUp` event might also be useful for some users. This way, we can clearly differentiate between when the touch of the user starts and when the actual dragging occurs.

### Suggestion

We might want to add threshold w

[2019-09-21 11:14] davidcetinkaya commented on #22
Hello Jeff (@Tscheffrey),

Thank you for the feedback 👍.
Sounds good. Maybe we could expose the drag distance as a **parameter** like so:

[code]

And then it's up to the user to implement the threshold logic:

[code]

What do you think?

Best,
David

[2019-09-24 16:25] xiel commented on #21
Hey @davidcetinkaya,

use cases for setting the scroll position manually:
- alternative input methods (arrow keys, gestures, eye tracking, you name it...)
- alternative interactions, examples:
  - a scroll progress indicator, which the user could drag to move the slider
  - carousel position is bound to scroll position
  - two carousels bound to each other

I think it does not make sense to implem

[2019-09-26 06:45] davidcetinkaya commented on #21
Hello Han (@welteki),

Very creative with the background color changing, I like it 😄. And thank you for this example, I think it's a great demonstration for other users browsing this issue. This feature will be implemented as soon as possible. Do you have any further ideas about this feature that you think could be valuable?

Best,
David

[2019-09-26 07:18] davidcetinkaya commented on #21
Hi @xiel,

Thank you for taking time to explain 💪.

You're absolutely right about this.

I've decided to split all feature requests in this discussion into separate issues. I think it will make it easier to follow each feature request and implement them separately, one by one. I hope this is ok with you.

Best,
David

[2019-09-26 07:18] davidcetinkaya opened #23 "Scroll By"
## 👉 Specification (implemented)

[code]

As discussed [here](https://github.com/davidcetinkaya/embla-carousel/issues/21#issuecomment-531698654) and [here](https://github.com/davidcetinkaya/embla-carousel/issues/21#issuecomment-532839653) in issue #21.

### Special thanks
@xiel for this feature request.

### ~~Please react with --> 👍 if you want this to be implemented.~~

[2019-09-28 06:51] davidcetinkaya commented on #21
Hi Felix (@xiel),

Just a quick question. About the method for **setting** scroll progress `embla.scrollProgress(number)`, we are talking about an instant setter right? Meaning using this method won’t scroll to desired position but rather go there instantly.

Thank you for your attention!
David

[2019-09-28 08:56] xiel commented on #21
Yes, I would expect it to be an instant setter by default.

[2019-10-02 08:15] Tscheffrey commented on #22
Hi David (@davidcetinkaya),

I think this wouldn't work because as I understand, the `dragStart` event will only be fired once when the dragging starts. This means that there is no way of knowing when the threshold actually starts to get larger than what your threshold is. Also, there would be no way of preventing the actual dragging itself, even if you know that your threshold has not been exceed

[2019-10-03 19:20] alexcoroza opened #24 "Prevent click event on child element when dragging"
I created a carousel and added my custom clickable elements inside. The problem is when I drag the carousel and then I mouseup, click event is triggered which is not the desired action.

[2019-10-04 06:10] davidcetinkaya commented on #24
Hi Alex (@alexcoroza),

Thanks for taking time to open this issue. Would you mind **forking** this [CodeSandbox](https://codesandbox.io/s/oyols) to demonstrate the issue and what you want to achieve? It's much easier for me to troubleshoot and help you that way. Thank you for your patience.

Kindly,
David

[2019-10-04 06:21] alexcoroza commented on #24
Oooh, Didnt expect this, you responded so quick. Here is the example scenario.

[https://codesandbox.io/s/embla-carousel-loop-false-4e5rp]

When you drag to change slides and then you mouseup on top of a slide, the click event is triggered. Actually Im using this library in my angular app so the sample codes in sandbox is quite different(but they show the same problem).

I tried many javascript dr

[2019-10-04 06:28] davidcetinkaya commented on #22
Hi Jeff (@Tscheffrey),

You're right. Of course, as you say `dragStart` will only fire once. What I **forgot to mention** is that Embla is already using a **drag threshold** today. So just by changing the `dragStart` behaviour to following suggestion:

We will already achieve both the `threshold` and the desired `dragStart` behaviour. If you think it makes sense to configure the drag threshold, wo

[2019-10-04 07:41] davidcetinkaya commented on #24
Hello Alex (@alexcoroza),

Thank you for the sample code 👍. Just want to make sure that I understand you correctly before we start discussing how to solve this issue:

1. Do you want to prevent the click event from triggering **if dragging has occurred**?
2. Or do you actually want to prevent the click event from triggering **if carousel is scrolling**?

All the best,
David

[2019-10-04 07:46] Tscheffrey commented on #22
Hi David (@davidcetinkaya),

That is great! I imagine

[2019-10-04 07:53] Tscheffrey commented on #22
Hi David (@davidcetinkaya),

That is great! I imagine that the `dragStart` event should only be fired when the threshold is exceeded anyway, do you agree? I think that thats the most logical way of doing it.

I'll open up a ticket concerning the drag threshold configurability.

Jeff

[2019-10-04 08:05] Tscheffrey opened #25 "Make Drag Threshold configurable"
As already mentioned in #22, I think it would be desirable to make the threshold at which the slider starts to react to the hand/cursor movement configurable.

That might look like this:

[code]
With the value being the amount of pixels the hand/cursor has to move until the silder will follow its movement.

Apparently there already is a drag threshold already built in and I'm sure that the default

[2019-10-04 08:11] alexcoroza commented on #24
Yes the question 1. I just want to prevent the click event only when dragging.

[2019-10-04 08:15] davidcetinkaya commented on #22
Hello Jeff (@Tscheffrey),

Thank you for your quick response. Cool, I hope I will have some free time to implement these features soon. Thanks for your patience.

Meanwhile, you could do a workaround this by checking how far the pointer has moved from `pointerdown` to `pointerup`, and if it's below let's say 5px ignore any click events. **I really understand that** this by no means is an optimal s

[2019-10-04 08:22] Tscheffrey commented on #22
Hi David (@davidcetinkaya),

[2019-10-04 08:32] Tscheffrey commented on #22
Hi David (@davidcetinkaya),

thanks for your responses and building this awesome slider! If I had the necessary skills, I'd help you implementing these features...

Good idea, this would serve the purpose for now.

Greetings,
Jeff

[2019-10-04 13:57] davidcetinkaya commented on #24
Hello again Alex (@alexcoroza),

Thank you for getting back to me. Maybe we should consider implementing a `staticClick event` or similar? I'm thinking that this event **would only fire** when:

- User clicks on the carousel
- No dragging occurs

What's your thoughts? Or do you have any other ideas?

Best,
David

[2019-10-06 15:50] davidcetinkaya opened #26 "Scroll Progress (set)"
## 👉 Feature Specification

[code]

As discussed in issue #21.

### Special thanks
@xiel for this feature request.

[2019-10-06 16:18] davidcetinkaya commented on #21
Hello @xiel and @welteki,

I'm happy to announce that the first part of this, the **scroll progress getter** has been released with version [2.5.0](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v2.5.0).

Enjoy!

[2019-10-06 16:18] #21 closed

[2019-10-11 20:52] bitttttten opened #27 "TypeErrorCannot read property '0' of undefined"
Hey! Let me first say, loving the library so far. Very easy to get a really nice carousel with 0 config :) So thanks for the nice defaults.

I just got this error reported in my error tracking, and it leads to `embla-carousel/lib/index`.

[code]

![chrome_2019-10-11_22-49-17](https://user-images.githubusercontent.com/19930241/66684040-5e5f1b80-ec79-11e9-85e1-569b8daef140.jpg)

So that's

[code]

I

[2019-10-12 00:46] davidcetinkaya commented on #27
Hi @bitttttten,

Thank you for your kind words and taking time to report this 👍.
That's strange because I'm assuming your android is a touch device 😕? I don't know if this is a browser specific bug but we should definitely look into this.

I'll let you know as soon as I've released a patch. Thank you for your patience!

Kindly,
David

[2019-10-12 10:05] bitttttten commented on #27
I can't actually reproduce it myself! Also I don't have an Android 8 device. This error actually came from LogRocket which is like Sentry if you are familiar with that. So it was an error that happened on one of my sites that an error reporter tracked and reported.

I've been asking around for a device running Android 8 so I'll try to reproduce if I get my hands on one 👍

[2019-10-12 11:05] davidcetinkaya commented on #27
Hello @bitttttten,

Thanks for getting back to me. Interesting, so at the time of writing we can’t rule out that LogRocket is doing something strange 😕.

I’ll apply for [BrowserStack open source testing](https://www.browserstack.com/open-source) as soon as possible.

Let’s see what we can find 👍🏻.

Best,
David

[2019-10-15 06:27] MetaBureau opened #28 "Setting up multiple carousels on same page"
Possible / how to do something like this?

[code]

[2019-10-15 06:35] davidcetinkaya commented on #28
Hi Stewart (@MetaBureau),

I've formatted your code to increase readability, I hope that's ok.

I'd like to understand what you want to achieve. Would you mind explaining a bit in words? For example, do you want to initialise/setup multiple carousels in the for loop? Or do you want to get all the slide nodes? Or am I missing something?

Kindly,
David

[2019-10-15 06:42] MetaBureau commented on #28
Hi David, apologies and thanks.
I simply wish to display multiple carousels on the same page. Presently, without for statement, only the first .embla element is initialised.

[2019-10-15 06:58] davidcetinkaya commented on #28
Hello again Stewart (@MetaBureau),

Thank you for clarifying. Here's one way to do it:

[code]

If you want to see an example of how to setup dot, previous and next navigation please have a look at the code on this [CodeSandbox](https://codesandbox.io/s/oyols).

I hope this helps!

Best,
David

[2019-10-15 07:13] MetaBureau commented on #28
Perfect thank you!

[2019-10-15 07:22] davidcetinkaya commented on #28
@MetaBureau I'm glad I could help 🙂.

Cheers!
David

[2019-10-15 07:24] MetaBureau commented on #28
Struggling a little with how to use navigation elements with multiple carousels.

[2019-10-15 07:25] davidcetinkaya commented on #28
@MetaBureau would it help if I setup a CodeSandbox for you?

[2019-10-15 07:30] MetaBureau commented on #28
Very much so. In my case, some carousels contain 1 slide, others 8.

[2019-10-15 07:32] davidcetinkaya commented on #28
@MetaBureau I'll create one as soon as possible. Thanks for your patience 👍!

[2019-10-15 10:42] davidcetinkaya commented on #28
Hello Stewart (@MetaBureau),

Here's a [CodeSandbox](https://codesandbox.io/s/embla-carousel-github-issue-28-gyst0) demonstration of how to initialise multiple carousels on a page with dot, previous and next navigation.

I hope this helps!

Best,
David

[2019-10-15 23:07] MetaBureau commented on #28
You are a beautiful human being David!
Thank you.

[2019-10-15 23:07] #28 closed

[2019-10-15 23:58] alxv2016 opened #29 "Can't get Embla working in Angular"
Hi, I found your lib after looking at many carousel libraries. I like yours because it's clean and light weight.

I've made an Angular wrapper around it and it works for static content. But I can't seem to get it working with content that's dynamically generated from an api request.  Using the ngFor loop to generate the slides Embla returns empty node array and nothing works.

I guess it's only fo

[2019-10-16 06:29] davidcetinkaya commented on #28
Thanks Stewart (@MetaBureau), and I'm glad I could help 🙂.

If you like this project after trying it for some time and want to support it, please consider recommending it to a friend and/or giving it a star. Don't feel obligated to, but it really helps.

Cheers!
David

[2019-10-16 07:07] davidcetinkaya commented on #29
Hello @alxv2016,

Thank you for opening this issue and your kind words.

Actually, I created issue #18 some time ago called [Build an Angular wrapper](https://github.com/davidcetinkaya/embla-carousel/issues/18) but at the time it didn't get any traction. At the time of writing there are 2 packages available for Embla:

- [embla-carousel](https://github.com/davidcetinkaya/embla-carousel) - Vanilla

[2019-10-16 18:24] alxv2016 commented on #29
Thanks I appreciate the quick response, I will investigate this from the sounds of it I'm guessing Embla is not aware of the changes so option 2 is probably the fix I need.

[2019-10-17 06:35] davidcetinkaya commented on #29
I hope this helps @alxv2016. I'd be happy if you let me know how it goes.

Cheers!
David

[2019-10-17 12:11] davidcetinkaya commented on #27
Hi @bitttttten,

**Status update**
I've applied for the BrowserStack open source program and I'm waiting for an approval from their side.

Kindly,
David

[2019-10-17 14:08] bitttttten commented on #27
Ah good news. Good luck! ✨

[2019-10-18 12:46] alxv2016 commented on #29
So the only way I could get Embla running was to use an "asyncScheduler" in RXJS which is pretty much a "setTimeOut" method the RXJS way.

 I've tried all the Angular lifecycles and they won't work for some reason, Embla will always init before the dynamic api content is loaded. This is because thought my Embla component is a child component to be used in multiple other components.

With the async

[2019-10-18 13:48] davidcetinkaya commented on #27
Hello again @bitttttten,

**BrowserStack** granted me access today and I tried to reproduce this error for an hour or so without any luck. Do you have any ideas how we can proceed with this? Maybe test ideas?

Thanks in advance.

Best,
David

[2019-10-18 17:53] bitttttten commented on #27
Hey, good news! congrats ✨

ehh sadly not. It's just an anonymous crash report. I tried looking into it myself but it seems weird that the event wasn't there? If it means anything, it was only 1 report out of 1000 users of Android 🤔

[2019-10-19 11:00] davidcetinkaya commented on #27
Hey @bitttttten, thanks!

Yeah, it's certainly odd. I can't make sense of why the **`event.touches`**  (touch list) is empty on a **`touchstart`** or **`touchmove`** event. I mean that's the whole point of touch events, to track touch pointers 😕. I will close this issue for now. Let's see if someone finds this issue and is able to reproduce it someday. Maybe that person will enlightens us 🙂.

Than

[2019-10-19 11:03] davidcetinkaya commented on #29
Hey @alxv2016,

I'm by no means an Angular expert by I'm guessing that using RXJS to solve the issue could be overdoing it. Would you mind sharing your API request code and how you're populating the container slides upon the response?

[2019-10-21 13:14] niubsta opened #30 "Bug with two 50 % slides when containScroll = true"
Hi!

First of all, let me say that I really like embla-carousel. Thank you for sharing your awesome work!!

There's one little bug I discovered when I have two slides with width: 50% and containScroll is set to true. It doesn't appear if I have only one slide with width: 100% or three slides with width: 33.33%.

Here's a demonstration of what I'm talking about: https://codesandbox.io/s/embla-carou

[2019-10-21 14:37] davidcetinkaya commented on #30
Hi Gerhard (@niubsta),
Thank you very much! I'm glad to hear that you like Embla Carousel 🎉.

Nice catch! Thanks for taking time to report this. I will look into this as soon as possible and I'll let you know how it goes when I have an update.

Best,
David

[2019-10-22 07:00] davidcetinkaya commented on #30
Hello Gerhard (@niubsta),

I've released a fix for the bug you describe in version [2.5.3](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v2.5.3). I'd very much appreciate if you could bump to the latest version like so:

[code]

or:

[code]

...and confirm if [this fix](https://github.com/davidcetinkaya/embla-carousel/commit/402de846c0804e77200d9929dd809d4447ab1ce5) works.

Thank y

[2019-10-22 12:47] niubsta commented on #30
Hello @davidcetinkaya ,

wow, that was quick - thank you so much!! I can confirm that the issue was solved by your fix!

Thanks again and kind regards,
Gerhard

[2019-10-22 12:47] #30 closed

[2019-10-23 12:54] niubsta opened #31 "Blank Carousel when looping with 2 slides (inactive browser tab)"
Hello,

when trying to create an automated slideshow with two slides and `loop: true`, I stumbled upon an interesting edge case. I used `setInterval()` to call `scrollNext()` every few seconds. After I switched tabs and came back later (one or two minutes is enough), the embla carousel was blank and the source code had a weird transform value:

`<div class="embla__container" style="transform: tran

[2019-10-23 14:10] davidcetinkaya commented on #31
Hi Gerhard (@niubsta),
Thank you for taking time to open this issue 👍.

Interesting. I don't know exactly why, but something weird definitely happens when  **`setInterval()`** is used and the tab looses focus. Maybe it's similar to [this issue](https://stackoverflow.com/questions/7483525/pausing-setinterval-when-page-browser-is-out-of-focus) on StackOverflow, but I don't know. How browsers handle

[2019-10-23 15:36] niubsta commented on #31
Hello @davidcetinkaya ,

thank you for your answer, I really appreciate your quick and detailed feedback. Sorry, I must have missed the autoplay demonstration - can't reproduce the issue there.

Actually replacing the `embla.scrollNext();` in the `setInterval()` with this code from your example ...

[code]

... fixed the issue in my code too. So this version here works flawlessly: https://codesand

[2019-10-24 09:21] davidcetinkaya commented on #31
Hi Gerhard (@niubsta),

No worries! Actually the **autoplay demonstration** is not so easy to find, you can find it on my [CodeSandbox profile page](https://codesandbox.io/u/davidcetinkaya). I've been wanting to add a CodeSandbox section with inspiration links in the README like the [embla-carousel-react](https://github.com/davidcetinkaya/embla-carousel-react#codesandbox) package but simply haven'

[2019-10-24 17:14] niubsta commented on #31
Awesome, thank you for digging into this! And yes, it IS weird as using `scrollNext()` also works on a blurred tab if there are three or more slides. So, it's definitely an edge case.

Glad I could help! I've tried quite a few carousel scripts recently and liked Embla carousel the most. So sure, I'd be happy if you added me to the contributors, even if I just did a bit of bug-hunting so far ... :-

[2019-10-25 20:51] callmehanu opened #32 "Is there anyway to use this just with plain javascript?"
Hi guys....
I'm just a **rookie dev**... in fact, I'm just code my portfolio with plane html, css and **javascript** and well, I thought this can be more easy to implement.

I just wonder if there anyway to use this without **typescript** or anyway more simple?

[2019-10-27 12:56] davidcetinkaya commented on #31
Hello Gerhard (@niubsta),

I've done some digging and I know why this is happening. My initial hunch was kinda right, the `setInterval()` timer is clashing with `requestAnimationFrame()`.

### Why this is happening at all
Basically, what's happening is that as soon as the browser tab is blurred, Embla stops doing visual updates because `requestAnimationFrame()` is designed to not run on an inactiv

[2019-10-27 16:39] niubsta commented on #31
Hello @davidcetinkaya ,

first of all - kudos for the extraordinarily detailed explanation! :-)

I was a bit confused when you explained that when using `scrollNext()` with two slides the animation actually goes backwards. This isn't the case in the example code in my initial post. The animation always goes forward, which is because of `loop: true`.

So may I ask: Is there a reason why you use `lo

[2019-10-28 08:25] davidcetinkaya commented on #31
Hi Gerhard (@niubsta),

I'm sorry for being unclear. I'm actually referring to how **Embla works internally**, not your demonstration. Before scrolling to its target Embla will evaluate all possible routes to find the shortest one to the target slide. This behaviour won't work when `loop: true` and `2` slides because the shortest route to next slide can be backwards even though the user calls `scr

[2019-10-28 08:45] davidcetinkaya commented on #32
Hi Hanu (@callmehanu),

Thank you for your request. Of course it's possible, I will put together a demonstration and get back to you as soon as possible.

Thank you for your patience!
David

[2019-10-28 12:30] niubsta commented on #31
Hello @davidcetinkaya ,

gotcha, thank you for the explanation! Of course I'll let you know when I create some CodeSandbox demonstrations that might be useful for others. At the moment I'm using Embla carousel mainly for rather basic usecases like the slideshow. :-)

One again, thank you for all your efforts!

Kind regards,
Gerhard

[2019-10-28 15:33] davidcetinkaya commented on #32
Hello Hanu (@callmehanu),

I've created a 👉[CodeSandbox](https://codesandbox.io/s/embla-carousel-github-issue-32-v14f7) to demonstrate how to use Embla Carousel only by including a `<script>` tag. TypeScript compiles to plain JavaScript so by adding the src to the [npm package script ](https://unpkg.com/embla-carousel@2.5.3/lib/index.js) you have access to `EmblaCarousel()` function globally like

[2019-10-31 08:37] davidcetinkaya commented on #31
Hello Gerhard (@niubsta),

I've updated the [Autoplay CodeSandbox Demonstration](https://codesandbox.io/s/embla-carousel-autoplay-4yhr2) so it works with both `loop: false` and `loop: true` 👍. I've also added CodeSandbox links to the [README here](https://github.com/davidcetinkaya/embla-carousel#codesandbox).

Thank you very much for improving Embla Carousel 🙂!

Best,
David

[2019-10-31 08:37] #31 closed

[2019-10-31 10:29] davidcetinkaya commented on #29
Hello @alxv2016,

Not to rush you or anything, but do you have an updates on this issue?

Kindly,
David

[2019-11-01 15:49] davidcetinkaya commented on #32
Hi Hanu (@callmehanu),

Not to rush you but have you had the chance to check out the [CodeSandbox example](https://codesandbox.io/s/embla-carousel-github-issue-32-v14f7) yet?

Best,
David

[2019-11-02 06:30] davidcetinkaya commented on #29
Closing due to inactivity. Feel free to re-open this issue if you’d like to proceed with this.

Thank you!

[2019-11-02 06:30] #29 closed

[2019-11-07 07:41] davidcetinkaya commented on #24
Hello again Alex (@alexcoroza),

Which version of Embla are you using? Is it the [Vanilla JS version](https://github.com/davidcetinkaya/embla-carousel) or the [React version](https://github.com/davidcetinkaya/embla-carousel-react).

Kindly,
David

[2019-11-08 07:29] davidcetinkaya commented on #32
Hello Hanu (@callmehanu),

I'm closing this issue due to lack of response. Feel free to open this issue again if you don't think it's resolved.

Kindly,
David

[2019-11-08 07:29] #32 closed

[2019-11-12 09:51] jakubreron opened #33 "Check if embla exists in ES6"
Hello, i have a problem with checking if element exists and initializing the Embla carousel.

I want to do something like: If element exists on the page, then initialize it with Embla carousel, because when i do it without checking the element first, then on another subpage, i get an error saying "Error: No root element provided 😢"

My code looks like that:

[code]

The code above doesn't work, it

[2019-11-12 09:56] davidcetinkaya commented on #33
Hi Jakub (@jakubreron),

Thank you for your question. Before I suggest a solution, I'd like to know if you are trying to initialise a single carousel or do you have multiple carousels on your page?

Kindly,
David

[2019-11-12 10:14] jakubreron commented on #33
Hello, thanks for the quick answer, regarding the questions:

-  I will have that carousel on the homepage (but it will be used on more subpages), and i will have different carousel on another subpage.

My current HTML Code
[code]

The problem is, i will have that carousel above on every subpage, expect only 1 page, so i need to initialize it in .js file, globally for every page, but when i go to

[2019-11-12 10:35] davidcetinkaya commented on #33
Hi Jakub (@jakubreron),

Thank you for the additional code and information. So I see one issue with the **JavaScript** code. The `document.querySelector()` returns two possible values.

1. If element is found, it returns an `element node`.
2. If not, it returns `null`.

It will never have the `.length` property because `document.querySelector()` will not look for a list of elements but rather a si

[2019-11-12 10:39] jakubreron commented on #33
It works, you are amazing!!
Thank you so much!

[2019-11-12 10:39] #33 closed

[2019-11-12 18:05] davidcetinkaya commented on #33
Thank you too, I’m glad I could help 🙂.

[2019-11-15 10:51] davidcetinkaya commented on #22
Hello @Tscheffrey,

I'm working on this issue and would appreciate feedback from you. The issue discussed above with `dragStart` firing is in progress, but it's a breaking change so it will be released with v.3 as soon as possible. I specifically need help with the **click** part you described:

I've released an experimental **opt-in click** check for Embla:

[code]

Please read about it in the [r

[2019-11-16 16:29] davidcetinkaya commented on #24
Hello Alex (@alexcoroza),
I'm happy to announce that I've released a click check for Embla:

[code]

Please read about it in the [release description](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v2.6.0). You can see it in action in this [CodeSandbox](https://codesandbox.io/s/embla-carousel-clickallowed-woxr1). This method is an **opt-in feature**. Here is how it works: It returns

[2019-11-23 00:04] iamkevingreen opened #34 "Resize/Reinit Trigger of Some kind"
I actually see that you're currently tracking a similar request in the react version. https://github.com/davidcetinkaya/embla-carousel-react/issues/10

My issue is comparable, but just in a vanilla environment where I am encountering image load issues not correctly drawing the slideshow/allowing me to access it. However doing a simple browser resize appears to resolve it, so if there were an event

[2019-11-23 15:59] davidcetinkaya commented on #34
Hi Kevin (@iamkevingreen),

Thank you for opening this issue. If I understand you correctly, what you're looking for is:

[code]

As described in the [docs](https://github.com/davidcetinkaya/embla-carousel#changeoptionsoptions):

I understand that it doesn't read well. I'm working on **Embla v.3** which will expose a method for this that reads better. I haven't decided the name yet but it will pro

[2019-11-23 16:48] iamkevingreen commented on #34
@davidcetinkaya I eventually stumbled onto this and it appears to be doing what I need. ✨

[2019-11-23 16:48] #34 closed

[2019-11-23 18:11] davidcetinkaya commented on #34
I’m glad It helped. Cheers!

[2019-11-24 08:55] davidcetinkaya commented on #24
Hi Alex (@alexcoroza),

I’m curious if you’ve had the chance to try this yet?

Kindly,
David

[2019-11-26 07:30] davidcetinkaya commented on #24
Hello again Alex (@alexcoroza),
I'm closing this due to lack of response. Feel free to reopen this issue if you don't think it's resolved.

Thank you for your feature request!
David

[2019-11-26 07:30] #24 closed

[2019-11-27 13:43] jakubreron opened #35 "Initialize embla after certain width, and destroy below certain width"
Hello, i have a problem with initializing Embla carousel after 992px and destroying it below that value.

My js code:
[code]

The problem is: it works when i load the window that has width lower than 992, it also works as intended (the carousel stops) when i resize that window above 992px, but when i go back below 992px, the carousel doesn't recover or reinitialize no matter what i do.
I tried man

[2019-11-27 14:45] davidcetinkaya commented on #35
Hi Jakub (@jakubreron),

Thank you for your question. What happens if you try the following:

[code]

Kindly,
David

[2019-11-28 08:57] jakubreron commented on #35
Thanks for the reply, when i use the code above, then it's not playing on desktop (which is good), when i resize into mobile, it starts playing, but when i resize into desktop again, then it doesn't stop :/

I only changed "window.innerWidth >= 992" to "window.innerWidth <= 992" because i want the carousel to be initialized on mobile, and destroyed on the desktop

[2019-11-28 09:02] davidcetinkaya commented on #35
Hello again Jakub (@jakubreron),

I think the check should be `window.innerWidth < 992` and not `window.innerWidth <= 992`. Because I think you want the carousel to be destroyed on 992px and above right?

Kindly,
David

[2019-11-28 09:05] jakubreron commented on #35
Changed, still doesn't stop / doesn't get destroyed when i resize window to more than 992px :/

[2019-11-28 09:09] davidcetinkaya commented on #35
@jakubreron would you mind creating a CodeSandbox and sending me the link here? I thinks it's easier to troubleshoot with a sandbox.

Best,
David

[2019-11-28 09:11] jakubreron commented on #35
I will try to create the sandbox and send it today :D Thanks for the replies and all the help! :D

[2019-11-28 09:12] davidcetinkaya commented on #35
@jakubreron not a problem. I'm glad if I can help you solve this 👍.

[2019-11-28 10:01] jakubreron commented on #35
Here you go: https://codesandbox.io/s/zealous-black-jsg3j?fontsize=14&hidenavigation=1&theme=dark

Right now, my desired effect is visible only after refreshing, you can see that when you are on desktop resolution and the page is refreshed, the slides are staying still, and are distributed with justify-content: space-between, i want it to stay like that on desktop but when i resize into mobile, th

[2019-11-28 10:24] davidcetinkaya commented on #35
Hi Jakub (@jakubreron),

Thank you for the CodeSandbox! The reason why the carousel wasn't destroyed is because `autoPlayer` wasn't correctly stored in a variable and stopped before destroying the Embla instance. I've added the following and it now works as intended:

[code]

👉 Here's a [working example](https://codesandbox.io/s/embla-carousel-github-issue-35-x2rsj). I hope this helps.

Kindly,
Da

[2019-11-28 10:38] jakubreron commented on #35
Thank You so much! You are a hero! :muscle: I will recommend Embla carousel to everyone in my company! :grinning:

[2019-11-28 10:38] #35 closed

[2019-11-28 11:23] davidcetinkaya commented on #35
@jakubreron I'm glad I could help! Thank it's very nice of you to recommend **Embla Carousel**, I really appreciate that 😊.

[2019-12-03 09:37] davidcetinkaya opened #36 "Version 3 - Draft & Discussion"
# Version 3 draft

This draft is subject to change and most likely will so stay tuned. Hit the **watch button** to do so:

<img width="1474" alt="watch" src="https://user-images.githubusercontent.com/11529148/70038056-ee557d80-15b7-11ea-8231-7289720ebd5a.png">

### Suggestions
Every suggestion such as feature requests or deprecation ideas will be added as a separate comment. Here's you chance to i

[2019-12-03 09:45] davidcetinkaya commented on #36
## Github README documentation

Dropdowns with useful information and code examples should be added to the README. This goes for the following sections:

- Options,
- API methods
- Events

### Example
<img width="1045" alt="embla-readme" src="https://user-images.githubusercontent.com/11529148/70039018-78521600-15b9-11ea-9546-1b21f3d54a66.png">

[2019-12-03 11:56] davidcetinkaya commented on #36
## 👉 Suggestion - Changing Drag/Pointer Events

As described in issue #22, the event names for drag interactions are unfortunate.

### Renaming drag events
Considering the current implementation and behaviour of `dragStart` and `dragEnd` they should be renamed like below to better represent what they actually do:

- dragStart should be **renamed** to `pointerDown`.
- dragEnd should be **renamed**

[2019-12-03 13:11] mrksmts commented on #19
Hi @davidcetinkaya !

Sorry I didn't take the time get back to you earlier, seems like this works as expected! It is live and working like a charm! Thanks a lot!

Best,

Mark

[2019-12-03 13:27] davidcetinkaya commented on #19
Hello Mark (@mrksmts),

Thank you for getting back to me, I appreciate it. And I'm glad it seems to be working as expected. Enjoy!

Kindly,
David

[2019-12-03 13:47] mrksmts opened #37 "When opening the context menu while dragging mouseup is not being triggered"
It is an edge case:

When you right click while dragging and open the context menu and then release both mouse buttons the mouseup is not being triggered so you keep dragging till you click forcing a mousedown/up.

[2019-12-03 13:59] davidcetinkaya commented on #37
Hello Mark (@mrksmts),

Nice catch! Thank you for reporting this 👍.
I will look into this and get back to you when I've done so.

Best,
David

[2019-12-05 06:24] Kulevw commented on #36
Please, add value for slidesToScroll - auto.

[2019-12-05 11:42] davidcetinkaya commented on #37
Hi Mark (@mrksmts),

[Patch Release v2.6.4](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v2.6.4) should **solve this issue**. This issue also made me aware of that Embla listens for drag events even if the clicked mouse button isn't the left button. This is not intended and I've fixed that too. So thanks a lot 👍!

I'd very much appreciate if you could confirm if the patch works as

[2019-12-06 12:30] mrksmts commented on #37
Hi David (@davidcetinkaya),

Works like a charm!
Thanks a lot for fixing this so quickly!

Best,
Mark

[2019-12-06 12:30] #37 closed

[2019-12-06 12:34] davidcetinkaya commented on #37
@mrksmts thanks for getting back to me 👍. I'm glad to hear that it works.

Have a nice one!
David

[2019-12-09 09:20] davidcetinkaya commented on #36
## 👉 Deprecation - Deprecate class name toggling

The frontend landscape is changing fast and with all the frameworks/libraries (like React, Vue, Angular, Svelte) out there it's not safe to assume that devs today use classnames to style their elements anymore. The following implementations should be removed from the Embla Carousel core and be up to the user to implement:

[code]

[2019-12-10 07:53] davidcetinkaya commented on #36
## 👉 Suggestion - Re-init API method

As described in issue #34, the only way to trigger a re-init of Embla is to call:

[code]
As described in the docs:

However, this doesn't read well if you only want to achieve a re-init and don't want to change any options. This suggestion is about exposing a method for this that reads better. I haven't decided the name yet but it will probably be something a

[2019-12-13 07:26] leah-cc opened #38 "The Slider is skipping other items"
Hello, when users swipe hard enough it looks like its skipping other slides, how can we limit it to only one slide per swipe? `slidesToScroll: 1` doesn't seem to do anything

[code]

[2019-12-15 14:24] davidcetinkaya commented on #38
Hello @leah-cc,
Thank you for your question.

### The short answer is:
That this is by design and it's intended to work this way.

### The long answer is:
That Embla Carousels animation engine is different from other carousel plugins. It animates by simulating physics in real life and I made this design choice because I wanted a carousel that feels natural to drag and interact with.

Most availabl

[2019-12-19 06:16] gilbertlucas46 commented on #38
Hi @davidcetinkaya  Thank you for the explanation. But Is there a way to adjust the threshold swipe? Because even with very light swipe it sometimes skip items from 1 - 3 or 1 - 5. Many thanks!

[2019-12-19 08:38] davidcetinkaya commented on #38
Hello @gilbertlucas46,
Thank you very much for your input on this 👍.

At the time of writing there's no way to control this externally. **If you don't mind**, I'd appreciate if you could share a CodeSandbox or a link that demonstrates the issue you're experiencing. Maybe there's something I'm missing here and a demonstration link may help. Because if it's from 1 - 5 it sounds like Embla may be set

[2019-12-19 11:35] gilbertlucas46 commented on #38
Hello, thank you for your reply. If you try to open your. example on mobile. you can actually see what I mean. https://webm.red/view/wrFu.webm

[2019-12-19 11:49] davidcetinkaya commented on #38
Hi @gilbertlucas46,

Yes, sorry for being unclear. What I want to convey is that Embla Carousels's drag functionality is designed to work like CSS Scroll Snaps so try swiping in the same manner on the carousel below and they should be very close.
I see that you're using the browser dev tools when swiping. Have you tried this on mobile? Because using the devtools with mouse to simulate touch device

[2019-12-20 07:23] davidcetinkaya commented on #36
## Suggestion - Support for Y-axis

Add an option to enable a Y-axis carousel like so:

[code]

[2019-12-23 14:26] #36 closed

[2019-12-23 23:29] dmorda opened #39 "[Feat]: Add a fade plugin"
Love the carousel and was able to get it working right away. The one thing that I need that it doesn't provide is a way to have a scroll option for single/multiple slides and a fade option to handle next/previous transition when it's just showing a single slide at a time.

Is that something that has been requested before?

[2019-12-24 07:59] davidcetinkaya commented on #39
Hi Damon (@dmorda),
Merry Christmas, and thank you for opening this issue 🎅.

About this:

Would you mind explaining what you mean a bit more in detail? I need more information in order to answer this question, but I'm going to take a guess and ask if you've checked out the [`slidesToScroll`](https://github.com/davidcetinkaya/embla-carousel#slidestoscroll) option? Here's a [CodeSandbox](https://co

[2019-12-24 19:08] dmorda commented on #39
Thanks for the quick response and a Merry Christmas to you as well. What I'm trying to achieve is a Fade effect , as an example view [this page](https://kenwheeler.github.io/slick/) and search for the word "Fade". That will provide an example of what I'm trying to accomplish.

Let me know if that helps!

[2019-12-25 10:27] davidcetinkaya commented on #39
Hi again Damon (@dmorda),
Thank you for the clarification, that helps 👍.

The vision for Embla is physics simulated carousels that move in a fluid and natural manner. The assumption here is that the carousel should be scrollable, and this doesn't play well with fade sliders that don't feel natural to drag/swipe. This is why a fade option is not a part of the Embla vision.

But with that said, **I'

[2019-12-25 13:22] dmorda commented on #39
That small tweak now lets me re-use Embla for both the fade version of a carousel and the normal sliding version. Thanks so much, happy holidays!

[2019-12-25 13:46] davidcetinkaya commented on #39
Hi Damon (@dmorda),

I’m glad to hear that 🙂. Thank you and happy holidays to you too!

Kindly,
David

[2019-12-25 14:09] dmorda opened #40 "Example of using multiple slides and making it responsive"
Hi David,

I noticed that in 2.4.0 you introduced the containScroll option, which allows me to use that in combination with slidesToScroll to display multiple slides at once. I was wondering if you had any recommendations on how to make the carousel responsive when used in this way.

For example, I want to show a different number of slides depending on the size of the window...
* Desktop: slidesTo

[2019-12-25 16:22] davidcetinkaya commented on #40
Hello Damon (@dmorda),
Thank you for your question. Regarding:

If it's only about displaying multiple slides at once in the carousel viewport, you can achieve this with CSS only. Because Embla listens for the window resize event and will update accordingly if you change the slide widths. Assuming you have the flexbox setup like the [quickstart](https://github.com/davidcetinkaya/embla-carousel#qui

[2019-12-27 22:41] dmorda commented on #40
David, I can't thank you enough. That hint was all I needed to get things working. Love this carousel!

[2019-12-28 07:11] davidcetinkaya commented on #40
Hi Damon (@dmorda),
I’m glad I could help! Please submit a new issue if you’re experiencing trouble or need any demonstration help in the future.

Feel free to consider recommending Embla to a friend or giving it a star. Don’t feel obligated to, it just helps me with the motivation.

Cheers!
David

[2019-12-28 07:11] #40 closed

[2019-12-29 12:22] davidcetinkaya commented on #38
I’m closing this issue for now. Feel free to reopen it if you want to discuss it further. Thank you!

[2020-01-05 19:32] LaksCastro opened #42 "Create an option to block excessive scrolling"
Hi @davidcetinkaya !

Embla currently has ways to remove the leading and trailing blanks from the Slider (`containsScroll: true`), but still allow for excessive scrolling. It would be interesting to add an option to block this scroll and stop it when it reaches the end or beginning of the Slider. I would like to know what you think of this idea

Below is the example of the "excessive scroll" I am

[2020-01-06 14:56] davidcetinkaya commented on #42
Hello Laks (@LaksCastro),
Thank you for this issue and I appreciate the screenshot 👍.

When mentioning **excessive scroll**, are you referring to this [rubber band effect](https://gofile.io/?c=SywHFz) when the [loop](https://github.com/davidcetinkaya/embla-carousel#loop) option is `false` and the carousel is dragged against its edges?

Best,
David

[2020-01-06 15:28] ppromerojr opened #43 "Add RTL Support"
Hi @davidcetinkaya  - May I know if there's a future plan for RTL support or if there is a workaround for now, please let me know. Thank you!

[2020-01-06 19:30] LaksCastro commented on #42
Yes, that's right. I would like to know what you think of including an option to block this rubber band effect. On many web sites, this effect is blocked. And particularly, within the UI I'm building, it would be great to have this option available.

Thank you so much for reading the recommendation.
I look forward to your reply :)

[2020-01-07 08:37] davidcetinkaya commented on #42
Hello again Laks (@LaksCastro),

Thank you for clarifying! One more question: Do you want to block the excessive scrolling only when the user has finished dragging or entirely (even when pointer is down and dragging)?

Kindly,
David

[2020-01-07 11:39] davidcetinkaya commented on #43
Hi Pabs (@ppromerojr),

Thank you for your question.

To be honest I don't have much experience working with webpages and RTL support. I might be missing some important details but I've made an effort to setup an example for you so please take a look at this 👉 [CodeSandbox](https://codesandbox.io/s/embla-carousel-github-issue-43-frl1y).

I'm making use of flexbox to reverse the slides:

[code]

I'

[2020-01-07 16:07] LaksCastro commented on #42
Exactly, totally block, as shown in [this short video](https://gofile.io/?c=LTOhB8) I recorded from a Slider mobile

Thank you,
@davidcetinkaya

[2020-01-08 05:05] ppromerojr commented on #43
Hi @davidcetinkaya - This helps me a lot!

[2020-01-08 07:23] davidcetinkaya commented on #43
Hello again Pabs (@ppromerojr), I’m glad it helped 🙂.

Cheers!
David

[2020-01-09 08:37] Andrew-web-coder opened #44 "Question: where is CSS?"
Hi,

Sorry, I am puzzled, but where is CSS code located in your project? E.g., I see that, for example, `<style id="/src/css/radio.css:-css" type="text/css">.radio {...` is generated by your script, but I could not locate that in the source code. To be honest, I really like your project, but your code has almost 0 comments, the overall structure is quite confusing, therefore I am not able to do an

[2020-01-09 08:52] davidcetinkaya commented on #44
Hello Andrew (@Andrew-web-coder),

Thank you for your question. I'm not sure I understand your question. So I need some clarification before I can help you.

What code are you referring to here? Is it one of the CodeSandboxes? Would you mind providing a link?

Also, if you need help with achieving something I'd be happy to help. But in order to do that I need you to describe what you want to achie

[2020-01-10 08:26] davidcetinkaya commented on #44
Hello @Andrew-web-coder,

I'm closing this issue. Feel free to reopen it if you want me to help you out with anything regarding Embla.

Kindly,
David

[2020-01-17 13:53] Andrew-web-coder commented on #44
Sorry, I am confused, your guide does not cover styling of dots and navigation arrows, does that mean we have to include all related CSS classes manually?

[2020-01-17 14:00] Andrew-web-coder commented on #44
Also, your QuickStart quide does not mention `.embla__viewport` element at all, but it exists and needs styling, too.

[2020-01-17 14:01] davidcetinkaya commented on #44
Hello again @Andrew-web-coder,

Have you had a look at the [Basic Setup CodeSandbox](https://codesandbox.io/s/embla-carousel-loop-false-oyols) where I demonstrate one way to setup dots with Embla Carousel?

You can also find the link to the sandbox in the [CodeSandbox](https://github.com/davidcetinkaya/embla-carousel#codesandbox) section. Have a look at the screenshot below:

<img width="981" alt=

[2020-01-17 14:04] Andrew-web-coder commented on #44
Yes, I saw those examples, does that mean we have to grab CSS files from these demos? I kind of expected that these files will be in the source code.

[2020-01-17 14:11] Andrew-web-coder commented on #44
Could you maybe add little note in the docs that user has to take care about CSS by himself, because you do not provide these files out of the box? That would clear the confusion. But, if you would include sample CSS files in the source, that would be awesome.

[2020-01-17 14:50] davidcetinkaya commented on #44
Hello @Andrew-web-coder,

Thank you for your additional thoughts 👍.

Embla Carousels **purpose** is to provide:

With emphasis on **low-level**, it's purpose is to provide bare bone carousels and give you the tools to extend them with your own desired functionality. This is opposed to most other carousel plugins that include dots and a whole bunch of other stuff in their code that you may or may n

[2020-01-17 15:12] Andrew-web-coder commented on #44
Oh, OK, it is clear now. You could almost copy/paste your comment about "low level" and paste in the docs, because right now the docs does not really give a clue what "low level carousel" means.

[2020-01-20 09:38] davidcetinkaya commented on #44
Thanks @Andrew-web-coder,

[2020-01-22 08:04] davidcetinkaya commented on #23
Hello Felix (@xiel),

I'm looking into implementing this and I'd like to discuss the feature request further with you. By passing a fraction representing % to the `embla.scrollBy(0.5)` function, do you mean that the percentage to scroll should be calculated from the total scrollable distance or based on the current position?

Thank you in advance.

Kindly,
David

[2020-01-22 20:13] xiel commented on #23
Hi David (@davidcetinkaya),

cool, looking forward to this feature!

I would expect `scrollBy` to work additive with `scrollProgress`. So when `scrollProgress()` is returning `0.5` and I would `scrollBy(0.25)`, `scrollProgress()` would now return 0.75.

Cheers, Felix

[2020-01-23 07:44] davidcetinkaya commented on #23
Hi again Felix (@xiel),

Thanks for getting back to me and I appreciate your clear explanation. We're on the same page then, so I'll let you know when I have something.

Best,
David

[2020-01-23 08:40] davidcetinkaya opened #45 "Add content to the Events section in the README"
## 👉 Specification (contributions welcome)

Add following:

- Descriptions
- CodeSandbox examples

...to the new [Events](https://github.com/davidcetinkaya/embla-carousel#events) section in the README, in the same manner as the [Options](https://github.com/davidcetinkaya/embla-carousel#options) and [API](https://github.com/davidcetinkaya/embla-carousel#api) section.

<img width="972" alt="events"

[2020-01-23 14:01] davidcetinkaya commented on #29
Hi @alxv2016,

Someone seems to be testing Embla in Angular. Take a look at this [link](https://stackblitz.com/edit/angular-embla?file=src%2Fapp%2Fapp.component.ts) and see if it helps?

Kindly,
David

[2020-01-28 13:02] davidcetinkaya commented on #44
Hello again @Andrew-web-coder,

Just a thought, would you like to draft an introduction text to Embla Carousel in order to convey the purpose of the Embla Carousel library better?

I'd very much appreciate the contribution.

Best,
David

[2020-01-28 15:59] eballeste commented on #44
I really really like that there is no css, thank you so much for that!

[2020-01-28 19:13] davidcetinkaya commented on #44
Hi Enrique (@eballeste),

Thanks for the feedback, I’m glad you appreciate it. What are your thoughts about the introduction text? Do you have any ideas about how we can improve it to describe Embla Carousel better?

![F35BBA26-C1C2-4DC4-A7A2-1A72DC48090C](https://user-images.githubusercontent.com/11529148/73296636-646a0f80-420a-11ea-94b2-5200bb7546a5.jpeg)

[2020-01-28 21:57] eballeste commented on #44
I have to admit I didn't initially understand what the description meant by "low level".
"Physics enabled" also sounds a little off to me, not sure what you mean by this.

I would maybe change it to:

`Build extendible, bare-bones, and dependency-free carousels for the web. Embla Carousel is 100% open source.`

Not sure about the wording but maybe something like that?

[2020-01-29 07:59] olushchik opened #46 "Unnecessary scroll under certain conditions"
Hi! I ran into a nasty bug with unnecessary scroll under certain conditions:
- `loop`: `true`
- `draggable`: `false`
- `slidesToScroll`: more than 1 (for example 4)
- slides count: more than `slidesToScroll` but not completely divisible by `slidesToScroll` (for example 5)

In this case after initial load when we scroll to next and try to click link on the first slide we see unnecessary scroll.

He

[2020-01-29 11:43] davidcetinkaya commented on #46
Hi Oleg (@olushchik),

Nice catch, and thank you for reporting this! I appreciate the clear CodeSandbox demonstration ⭐️.

As you mention, Embla acts on the focus event and wants to scroll the focused element into view. The behaviour is desired when a user navigates with the tab key. But it's not desired when clicking.

Right now I'm working with issue #23 (`scrollBy`) and it might take some time

[2020-01-29 15:26] olushchik commented on #46
Hi, David! Thanks for the response!

Oh, now I understand for what reasons this was done 😃  But I'm not sure that I understand how to fix it properly 😢

[2020-01-29 18:52] davidcetinkaya commented on #46
Hello Oleg (@olushchik),

No worries 🙂. This issue will have to wait then. I appreciate you taking time to report this!

Kindly,
David

[2020-01-30 09:17] davidcetinkaya commented on #44
Hello again Enrique (@eballeste)

Thank you for your feedback 👍. Both you and Andrew (@Andrew-web-coder) think the description is unclear so I think it makes sense to consider rephrasing it.

**How about this then:**

**?**

Kindly,
David

[2020-01-30 17:54] eballeste commented on #44
yes, perfect. there's a typo though:

[2020-01-30 17:59] eballeste commented on #44
I would replace **It's** in the third sentence with **Embla Carousel**. **It's** is kind of vague and a little confusing because some people might think you're talking about the items mentioned in the previous sentence. Better to be bold and clear than vague.

[2020-01-30 18:09] davidcetinkaya commented on #44
Thanks a lot Enrique (@eballeste), this helps a lot 🙂. I’ll update the introduction text as soon as possible.

Cheers!
David

[2020-01-31 12:01] davidcetinkaya commented on #23
Hello Felix (@xiel),

I'm happy to announce that I've released the `scrollBy()` feature with [version 2.7.0](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v2.7.0) 🚀. I've not had time to add it to the README though, but I'll add it as soon as possible.

**How it works:**

- ScrollBy adds to `scrollProgress` as we discussed.
- ScrollBy respects the scroll bounds when `loop: false`.

[2020-01-31 12:04] xiel commented on #23
Thanks! Will check out soon

[2020-01-31 13:40] davidcetinkaya commented on #44
Hello Andrew and Enrique (@Andrew-web-coder, @eballeste),

I've updated the Embla Carousel description text in order to communicate its purpose better. Thank you both for providing valuable feedback and improving Embla ⭐️.

Best,
David

[2020-01-31 13:40] #44 closed

[2020-02-01 11:21] davidcetinkaya commented on #23
@xiel I’ve added the CodeSandbox to the [Readme]( https://github.com/davidcetinkaya/embla-carousel#scrollby) now. Enjoy!

[2020-02-03 01:52] omarkhatibco commented on #43
@davidcetinkaya  will you accept a PR regarding RTL Support ?

[2020-02-03 16:24] davidcetinkaya commented on #25
Hello Jeff (@Tscheffrey),

Thank you very much for taking time to create this issue 👍🏻.

I’ve tried to gather user opinions on this for a period of time to no avail. I’m going to close this issue for now due to lack of interest.

Kindly,
David

[2020-02-04 08:50] davidcetinkaya commented on #43
Hi Omar (@omarkhatibco),
Thank you for your question 👍.

Before we dive into code changes, would you mind explaining why the solution provided in this conversation isn't sufficient? This would make me understand this feature request better and I'd appreciate that. I understand that the provided solution still means that developers implementing RTL have to work with a LTR biased library. Are there

[2020-02-04 09:53] omarkhatibco commented on #43
Hi David (@davidcetinkaya),

The solution you provided works great! but it needs some work when I need to support both (RTL,LTR) layout.
The second problem is with `startIndex` is now not `0` with the first slide, now going to some slides(eg: 5) will need some coding to get the opposite index.

In browser when I changed the layout from `LTR` to `RTL` I did not change anything inside flexbox, it ha

[2020-02-04 10:17] davidcetinkaya commented on #26
Hi Felix (@xiel),

I'm currently investigating this feature and I'd like to discuss it further with you.

This feature mainly raises one concern for me. I recently implemented [`scrollBy()`](https://github.com/davidcetinkaya/embla-carousel#scrollby), and every time the user calls it Embla checks what the target snap index will be. This is not an expensive approach since `scrollBy()` is smooth and

[2020-02-04 18:41] davidcetinkaya commented on #25
.

[2020-02-06 14:18] davidcetinkaya commented on #43
Thank you for the clarification Omar (@omarkhatibco).

I'd like to try changing to `RTL` in the browser in order to try what you mentioned. Would you mind helping me with how I do that in Chrome?

The `startIndex` part is quite easy to change to `RTL` but in order to understand this better I'd like to try it and get first hand experience of how a browser handles `RTL`. This would be great in order

[2020-02-06 14:25] omarkhatibco commented on #43
Hi David (@davidcetinkaya),

Browser flip everything except margin and padding
this is a project in RTL I'm working on
https://faris-groupcom-git-next.omarkhatibco.now.sh/properties/makyol-yasam

with developer tools try to edit the css for `html, body` there is a `direction` property with RTL value, try to change it to LTR and see the effects.

Also another problem I had with your solution that `

[2020-02-06 15:12] davidcetinkaya commented on #43
Thank you Omar (@omarkhatibco). So before I start testing, which one is preferred for `RTL`?

**Is this correct:**
[code]

**Or this?**
[code]

**Or are they equivalent?**

Kindly,
David

[2020-02-06 19:40] omarkhatibco commented on #43
Hi David (@davidcetinkaya )
They do the same thing but  I would choose the first one because it's easier to check in Javascript
[code]
after a bit search on internet google the first one is recommended by W3C
https://stackoverflow.com/questions/5375799/direction-ltr-rtl-whats-the-difference-between-the-css-direction-and-html-di

Thanks
Omar

[2020-02-07 07:21] davidcetinkaya commented on #43
Hello again Omar (@omarkhatibco),

Nice digging, thank you for the information ⭐️. I'll have a look at this and let you know when I've done so. In the meantime, feel free to share any information that could be of use.

Kindly,
David

[2020-02-09 16:16] xiel commented on #23
Really cool! Was super easy to build a gallery with preview with this, so the previews scroll at the same time as the big images. I think I even like the softer movement as you still apply the spring when setting with scrollBy right?

https://codesandbox.io/s/embla-carousel-scrollby-we9j1

Maybe in the future the scrollBy method could take a second options object, in for
[code]

Because when I wou

[2020-02-10 18:14] davidcetinkaya commented on #23
Hi Felix (@xiel),

I'm glad you like it. That's correct, `scrollBy()` will scroll smoothly to target as opposed to an instant setter. Thank you for your demonstration and ideas! I think you've mentioned these feature requests some time ago and I think they could be interesting additions to the API.

The `unit` part you mention should be a piece of cake because I already map `px` to `percentage` in

[2020-02-10 18:14] #23 closed

[2020-02-10 18:26] xiel commented on #26
To be honest I think both methods should support being set frequently (every frame) & hard.

Calculating the snap point should not be a very expensive calculation from when the layout & snap points stayed the same?

[2020-02-12 12:29] korsvanloon commented on #27
@davidcetinkaya I still see this error as well on the error reporting of production logs for version 2.6.
For now we've upgraded the package, hope it fixes it (it's indeed hard to reproduce).
However, I think `isMouse` can better be implemented as `evt instanceof MouseEvent` or `isTouch` as `evt instanceof TouchEvent`.

[2020-02-12 12:44] davidcetinkaya commented on #27
Hello @korsvanloon,

Thank you for your thoughts.

At the time of writing, no fix has been shipped for this issue because I haven't been able to reproduce it. It would be great if we could try to narrow it down. If the `touchmove` event is causing this, setting `isMouse` as you suggest won't help. But if it's the `touchstart` event, the fix you suggest would probably resolve the issue.

Kindly,
Da

[2020-02-12 13:12] davidcetinkaya commented on #27
@bitttttten and @korsvanloon,

I just did some testing and I finally understand why this is happening. If you perform a `touchstart` event and hold the touch for long enough the Android device will actually fire a `mousemove` event, which is interesting. Take a look at the screenshots:

<img width="977" alt="mouse_event" src="https://user-images.githubusercontent.com/11529148/74337562-cf861b00-4da

[2020-02-12 13:26] korsvanloon commented on #27
Great news! Thanks a bunch!

[2020-02-12 13:28] bitttttten commented on #27
How did you manage to debug that? 🙈 Nice one :)

[2020-02-12 14:09] davidcetinkaya commented on #27
@korsvanloon and @bitttttten,

I'm happy to announce that patch [version 2.7.4](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v2.7.4) ships with a fix for this issue.

I'd very much **appreciate** if you could take a moment and do some testing so I didn't crash anything else and if you could try to reproduce the issue.

Thanks in advance,
David

[2020-02-13 08:53] davidcetinkaya commented on #26
Thanks for your input Felix (@xiel),

So how about when `loop` is enabled and scroll is smooth? Should the carousel seek the closest way to the target (given scroll progress), like how [`scrollTo()`](https://github.com/davidcetinkaya/embla-carousel#scrollto) works? For example, if current scroll progress is `0.9` and the user calls `embla.scrollToProgress(0.1)`, this would scroll forward instead o

[2020-02-17 07:53] davidcetinkaya commented on #27
Hello guys (@korsvanloon, @bitttttten),

Are you able to verify if the patch release fixes the issue?

Kindly,
David

[2020-02-17 08:26] korsvanloon commented on #27
Our testing now it seems good, but I'm waiting for the update to go live and see our error reporting for this issue to go down.
I'll come back at you when we've gone live with your update. Should be a couple of days :)

[2020-02-17 11:25] davidcetinkaya commented on #27
Hi @korsvanloon,
Thank you for the update. Sounds great, looking forward to it 👍.

Best,
David

[2020-02-19 08:45] xiel commented on #26
1) The same would happen if I would drag it I assume? If I use the select listener to update a pagination or similar, I would want to update it as soon as the index changes, even during the drag/animation process. The dev can always debounce if he is only interested in less frequent updates I would say?

2) I would not make it scroll forward automatically when you call 0.1. Instead I would allow t

[2020-02-21 15:35] sphair opened #47 "Add support for wheel event scrolling"
When using touchpad on an MacBook, you can use two-finger gestures for scrolling. As far as I understand, these values are available through **"wheel" events** in javascript.

It would be very nice to have support for horizontal scrolling using touchpad in Embla Carousel if possible.

Here is a fiddle that demonstrates the values received: https://jsfiddle.net/64p5r459/2/

[2020-02-21 19:16] davidcetinkaya commented on #47
Hi Kenneth (@sphair),

Thank you for your feature request. That’s correct, the two-finger gesture on a touchpad triggers the JavaScript **wheel** event. Additionally, a mouse with a wheel also triggers the wheel event.

Do you mind if I change the title of this issue to:

Add support for scrolling with the wheel event?

To cover all devices with wheels?

Kindly,
David

[2020-02-24 09:18] remisture commented on #47
I need this as well 👍

[2020-02-26 08:21] davidcetinkaya opened #48 "Add a Settle event"
## 👉 Feature Specification

[code]

### Special thanks
@horgen for this feature request.

[2020-02-26 09:22] davidcetinkaya commented on #48
Hi Christopher (@horgen),

I'm happy to announce that Embla Carousel [v2.8.0](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v2.8.0) ships with the `settle` event 🚀. Please install the latest version to enjoy this feature.

I'd very much appreciate if you could let me know if this works as intended.
Thank you in advance.

Best
David

[2020-02-26 09:42] horgen commented on #48
Works like a charm 👍

Now I only need the "wheel" support and this carousel is perfect :)

Thank you!

On Wed, Feb 26, 2020 at 10:22 AM David Cetinkaya <notifications@github.com>
wrote:

--

Mvh,
Christopher H. Horgen

[2020-02-26 10:06] davidcetinkaya commented on #48
I'm glad to hear that it works as intended Christopher (@horgen).
Thank you for your feedback 👍.

Cheers,
David

[2020-02-26 10:06] #48 closed

[2020-02-27 20:15] nikrowell opened #49 "Percentage alignment options"
Hi @davidcetinkaya - thanks for your work on this - love your vision for a lightweight and flexible carousel!

I'm working on a project where it would be useful to specify the `align` option as a percentage from the left edge (let me know if helpful to have a visual / example of my use case). Is this something you could see being added to Embla?

[2020-02-27 22:13] nikrowell commented on #49
Curious to learn more about how **Embla** works under the hood, I took a quick pass at this on my [`feature/alignment-percent`](https://github.com/nikrowell/embla-carousel/commit/6337355cf85945796f2f26d7c15ee29ccd170314) branch but did not create a PR. No worries if this isn't something you'd like to include in Embla (or my implementation has issues I'm not seeing 😆)

[2020-02-28 08:42] davidcetinkaya commented on #49
Hello Nik (@nikrowell),

I'm happy you like the Embla Carousel initiative 🙂. And thank you for your feature request. The answer to your question is yes, I've considered adding percentage to the [align option](https://github.com/davidcetinkaya/embla-carousel#align).

Thanks for the contribution. It's a good starting point! It requires additional refactoring in order for it to work properly though.

[2020-02-28 13:48] nikrowell commented on #49
Hi David,

Thank you for the feedback and detailed explanation - very helpful! I hadn't thought about the impact of this on logic for selected states, `dragFree` mode etc, and your proposed change using scroll snap center vs bounds makes sense.

I completely understand on the backlog and would be happy to contribute to those tasks as well. I'll take a look and see where I can help.

Cheers!

[2020-03-04 08:43] davidcetinkaya opened #50 "Add option for Y-axis"
## 👉 Feature Specification

[code]

### Special thanks
To all guys sending me private emails instead of opening an issue about this.

### This has been implemented and will be released with version 3.

[2020-03-04 08:59] davidcetinkaya commented on #27
Hello again @korsvanloon,

I'm going to close this issue due to its stale status. I'd still very much appreciate if you could verify if the patch release fixes the issue for you. It would be great to reach some kind of resolution 🙂.

Kindly,
David

[2020-03-04 08:59] #27 closed

[2020-03-04 09:50] korsvanloon commented on #27
Sorry for the late response but I can confirm this is fixed :)

[2020-03-04 09:53] davidcetinkaya commented on #27
Thanks @korsvanloon, cheers!

[2020-03-06 09:24] horgen commented on #47
Any idea when you will be able to start on this? I need this before I can use embla in production.

[2020-03-06 10:31] davidcetinkaya commented on #47
Hi @horgen, thank you for your question.

### Short answer
Unfortunately, no.

### Long answer
At the time of writing I have a huge backlog including everything from a lot of feature requests to writing documentation (see issue #45 and [#12](https://github.com/davidcetinkaya/embla-carousel-react/issues/12)) and setting up CodeSandbox demonstrations etc. Additionally, I've lately had a lot of `demo

[2020-03-12 12:49] ehellman opened #51 "Where is HTML?"
Topic is self explanatory

[2020-03-18 01:50] nikrowell commented on #51
@ehellman can clarify what you're looking for? The [README](https://github.com/davidcetinkaya/embla-carousel/blob/master/README.md) and [CodeSandbox](https://github.com/davidcetinkaya/embla-carousel#codesandbox) examples show the HTML structure needed to set up Embla.

[2020-03-24 07:39] davidcetinkaya commented on #49
Hello Nik (@nikrowell),

I just wanted to let you know that I'm working on refactoring the `scrollTarget` logic as mentioned in this conversation in order to implement the **percentage alignment** feature. It's going quite well and most of the ground work is done. Although I can't give you an estimate yet, I'll get back to you as soon as I have something.

Kindly
David

[2020-03-25 20:53] blimpmason opened #53 "Optional keyboard left/right arrow key navigation"
It would be great to be able to use the left/right arrow keys to navigate slides by default when the carousel is in focus.

[2020-03-26 08:14] davidcetinkaya commented on #45
### Left to do
Add description texts and code examples to some of the [events](https://github.com/davidcetinkaya/embla-carousel#events).

[2020-03-26 09:04] davidcetinkaya commented on #53
Hello David (@blimpmason),

Thank you for this feature request. I think this feature is quite possible to implement by utilising the [Embla API](https://github.com/davidcetinkaya/embla-carousel#api) and not necessary to build into the Embla core. Because Embla's vision is **extensible bare bones carousels**:

With that said, I'd be happy to help you creating a CodeSandbox demonstrating how to achi

[2020-03-26 20:52] blimpmason commented on #53
Thanks for the quick response! I was able to implement my own event listeners. I just thought it could be considered since I personally like even my barebones tools to have as much accessibility optimization legwork done as possible.

[2020-03-26 20:52] #53 closed

[2020-03-27 06:01] davidcetinkaya commented on #53
Thank you for your input David (@blimpmason) 👍.

I see, and I agree with you that accessibility is important and I think this relates to [issue #6](https://github.com/davidcetinkaya/embla-carousel/issues/6) in a way. If we're to consider adding accessibility features to the Embla Core, it raises a lot of questions like how much accessibility should Embla be responsible for? Also, some users don't

[2020-03-27 08:27] davidcetinkaya commented on #49
Hello again Nik (@nikrowell),

I'm happy to announce that `percent alignment` is now a feature of [Embla v2.9.0](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v2.9.0) 🎉. You can read more about it on the [release description](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v2.9.0) or under the [Options section](https://github.com/davidcetinkaya/embla-carousel#align) i

[2020-03-27 09:50] #51 closed

[2020-03-27 16:07] nikrowell commented on #49
Thank you, David (@davidcetinkaya)! 🎉 I tested things out and it's working as expected on my end - love that it also reduced the bundle size!

[2020-03-27 16:07] #49 closed

[2020-03-28 12:32] davidcetinkaya commented on #49
I'm happy to hear that Nik (@nikrowell), enjoy 😊!

[2020-03-28 12:34] davidcetinkaya commented on #26
Thanks for your input Felix (@xiel). I'll consider your thoughts and input when implementing this feature. I'm looking into this so I'll let you know when I have something.

Best
David

[2020-04-06 16:16] yocmen opened #54 "Fit the first item to the left when I have slides with fixed sizes?"
Hi, how can I fit the first item to the left when I have slides with fixed sizes?

I'm using the {align: "start"}, but I can't make it work, I'm trying to make it responsive putting the slides from the Left, maybe grouping cells? Thanks in advance.

here is the codepen [https://codesandbox.io/s/embla-carousel-dragfree-k1ro4](https://codesandbox.io/s/embla-carousel-dragfree-k1ro4)

[2020-04-06 17:25] davidcetinkaya commented on #54
Hello Yocsel (@yocmen),
Thank you for your question.

I think you've missed to add `align: start` to the Embla Carousel options:

<img width="994" alt="embla" src="https://user-images.githubusercontent.com/11529148/78586633-ffe7b400-783b-11ea-9cb3-da2f37ef7d3d.png">

If you take look at the provided screenshot on line 17, you need to change it to:

[code]

Let me know if this helps!

Best,
David

[2020-04-06 17:33] yocmen commented on #54
hooooo, I miss-spelled the property :(, please forgive me 🤦‍♂️

[2020-04-06 17:33] #54 closed

[2020-04-06 17:48] davidcetinkaya commented on #54
@yocmen no worries 🙂. Thank you and enjoy!

[2020-04-08 11:51] jakubreron opened #60 "Another css units in embla__container translate3d() animation"
Hello, is it possible to have an option of selecting another css unit for the transform animation?
I mean: .embla__container is using translate3d(%, 0, 0) for the animations, but from what i've tested on my website, the performance would be better if i used translate3d(px, 0, 0) instead of % value.

Would you consider adding this feature to the Embla Carousel?

Thank you.

[2020-04-10 07:42] davidcetinkaya commented on #60
Hi Jakub (@jakubreron),
Thank you for your question.

In the early stages when Embla was an embryo, it actually supported both `percent` and `px` units with an option called unit. But along the way I decided to drop the support for `px` because I didn’t see any advantage supporting it.

I don’t experience any performance issues so I’d appreciate if you could:

- Setup a CodeSandbox demonstrating t

[2020-04-12 11:33] yunusabd commented on #47
Here's my solution. I'm using a throttling function to adjust for the sensitivity of trackpads. Otherwise the carousel will just fly past at the slightest touch.

[code]

[2020-04-14 09:05] jakubreron commented on #60
Hello, thanks for the reply

My current setup:
OS: Ubuntu 20.04 (there is a better performance on windows, probably due to better hardware acceleration)
Browser: Firefox 75 (chrome is rendering the animations perfectly)

It's hard to provide a code sandbox because as you said the issues are might be due to my setup and because of the other scripts & styles, there is still much to improve on this [

[2020-04-14 12:10] davidcetinkaya commented on #60
Thanks for the additional information Jakub (@jakubreron) 👍.

BrowserStack doesn't provide testing for Ubuntu so I can't really test what you're experiencing (nice looking website by the way 🙂). So I'm just gonna throw out a couple of untested thoughts here.

- What happens if you stop the logo carousel? Does that improve performance? Because a continuous animation on a larger space could have a n

[2020-04-14 15:00] jakubreron commented on #60
You're right, the logo carousel is making a difference when i disable it, the height can also be pretty expensive, i definitely need to read more about the ```will-change```, ```transform: translateZ()``` and overall css performance tips so i can focus on other things rather than on the carousel itself :smile:

Sorry for a stupid issue :sweat_smile:
As always, thank you very much!

[2020-04-14 16:48] davidcetinkaya commented on #60
Hello again Jakub (@jakubreron),

I’m happy to hear that it helps 🙂.
There’s obviously much more to browser performance than the things I mentioned but maybe it’s a good starting point?

Don’t apologize, I think it’s always better to ask 👍🏻.

[2020-04-21 09:47] davidcetinkaya commented on #26
Hello Felix (@xiel),

I'm excited to announce release [v2.9.1](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v2.9.1) which comes with a new set of utilities to manipulate the current scroll progress. Please read the [release description](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v2.9.1) for further details 🎉.

Just as an example, it's now possible to sync the pr

[2020-04-23 08:21] davidcetinkaya commented on #26
Thanks @xiel for the feedback. So the difference is:

**Location progress**:
Returns the carousels scroll progress for its current scroll location. For example, when the carousel has scrolled half its scrollable length, it will return `0.5`.

**Target progress**:
Returns the carousels scroll progress for its destination. For example, if the user does something that sets the carousel in motion, lik

[2020-04-23 08:36] xiel commented on #26
Ah yes, totally makes sense! Thx!

What do you think would be the best way to update the scrollPos by px values now?
Me might also need an API to read the current scrollLength then?

For example, I know I want to move 20px from current position, how can I translate that to the percent I need for scrollBy(x). I would need to have 20 / scrollLength?
I think it would be more efficient if I was able t

[2020-04-23 08:46] davidcetinkaya commented on #26
Ah I see. I'm going to add the wheel scrolling feature to Embla as discussed in issue #47 as soon as possible.  Will this help your case? Or am I misunderstanding you maybe?

[2020-04-23 08:49] xiel commented on #26
I'm basically offering you, to basically take over implementing issue #47 ;)
But if you prefer to do it yourself that is fine too of course.

[2020-04-23 08:54] davidcetinkaya commented on #26
I understand! That would be awesome @xiel 🙂.

I've had this "crazy" idea for a while now, about exposing the Embla engine with all its internal utils like so:

[code]

But I'm afraid the lib will drown in issues if I do this 🙈. But maybe it's just enough to expose the internal `pxToPercent()` utility then?

[2020-04-23 09:06] xiel commented on #26
For future extensibility exposing the full engine would surely be a bit more dangerous, but a good choice IMHO. I think it would be a great way to able to add functionality via plugins/wrappers which could be installed separately, so the main package stays small and tidy.

[2020-04-23 09:27] davidcetinkaya commented on #26
Thanks for the feedback @xiel. Do you think I should the engine exposure to the README? Because doing so might lead to a lot of issues about how to achieve this and that. Or do you want me to just do it and send you the info?

[2020-04-23 10:10] xiel commented on #26
I think everyone who wants to use the engine directly needs to dive a bit into the code anyway, so I don't think there is a need to add lot of documentation for it :)

Happy to get it via mail or it could be a small section in CONTRIBUTING.md or another extra file?

[2020-04-23 10:13] davidcetinkaya commented on #26
Thanks! I'll let you know when I have something.

Cheers!
David

[2020-04-29 04:22] #26 closed

[2020-05-01 08:33] davidcetinkaya commented on #26
Hi Felix (@xiel),

I'm preparing for the release of **Embla v.3**, but this might take a week or so to finish, so I've decided to commit and push the api method that exposes the engine, and I've done so in [this commit](https://github.com/davidcetinkaya/embla-carousel/commit/3adbae90363351cd41386a2d97634dfdc8b64b64). So if you clone the repo you should be able to make use of:

[code]

...now 🙂. **

[2020-05-01 10:14] xiel commented on #26
@davidcetinkaya Perfect thanks! I'll let you know when I have something to show or questions ;)

[2020-05-07 03:47] davidcetinkaya commented on #42
Hello @LaksCastro!

I hope you’re all well 👍🏻. Sorry for the slow response here. So an update on this issue:

I’ve tested to achieve what you want locally but it kind of goes against Embla’s vision because Embla measures how rigorously a user drags the carousel in contrast to most other carousel libs. Most other libs only measure the drag direction and just assume the carousel should scroll one sl

[2020-05-07 04:00] LaksCastro commented on #42
Hi @davidcetinkaya!

Thank very much,
Dont problem, feature request are hard to search and to integrate with the current features.

I understood what you meant by "unnatural and very stiff", and really, what makes me use Embla is its fluidity compared to other libraries. And I wait for the code in the CodeSandBox :)

I will close this Issue, but feel free to add the code of CodeSandBox on document

[2020-05-07 04:00] #42 closed

[2020-05-09 18:23] coopemor commented on #24
Hey @davidcetinkaya this is exactly what I need but I'm struggling to figure out how to implement it while using the react version. Any chance you could provide a bit of guidance?

Thanks so much for you hard work in this, it has the smoothest animations I've found for a carousel library!

[2020-05-09 18:50] davidcetinkaya commented on #24
Hi @coopemor,

I would be happy to help. In order to do so I need additional details. Are you using React hooks or class based components?

Kindly,
David

[2020-05-10 00:16] coopemor commented on #24
Amazing! Thank you @davidcetinkaya I'm using hooks in my design.

[2020-05-10 14:11] davidcetinkaya commented on #24
Thanks for the additional information @coopemor. For details about how `embla.clickAllowed()` works, please read the [documentation here](https://github.com/davidcetinkaya/embla-carousel#clickallowed).

So here's **one way to do it in React**:

[code]

Let me know if this helps you on the right track 🙂!

Best,
David

[2020-05-10 20:16] aurelienbobenrieth opened #61 "Improve carousel behavior when slide content width is inferior to container's one"
Hi !  First of all, thanks for this great library.

I am actually working on an infinite looping carousel with dynamic content (meaning various slides number). I ran into a bothering problem when it comes to having a carousel containing less slides than needed to properly loop without layout breaking.

If the **number of slides times the width of a slide is inferior to the width of the container p

[2020-05-11 06:36] davidcetinkaya commented on #61
Hello Aurélien (@aurelienbobenrieth),
Thank you for your kind words 👍.

And thanks for taking time to open this issue. I also appreciate the clear CodeSandbox examples you provided ⭐. Just a small detail regarding the carousel fixed sandbox. Seems like a lot of people don't know this, but Embla supports mixing different slide widths out of the box, so it's not safe to assume the slide widths will

[2020-05-11 07:36] xiel commented on #47
Hey David (@davidcetinkaya),

maybe we continue our discussion here. Working with the engine worked great!
Here is the result so far: https://embla-carousel-wheel-gestures-7ejp8ofex.now.sh

I think it feels pretty nice, I tested with a Macbook Pro and a Surface Laptop (in all modern browsers). Hope it works fine on your device too ;)

CodeSandbox can't install from git repositories yet, so I put t

[2020-05-11 11:39] davidcetinkaya commented on #24
Hello @coopemor,

Your question is related to the [Embla React package](https://github.com/davidcetinkaya/embla-carousel-react/), so I decided to create a new issue there. Just [follow this link](https://github.com/davidcetinkaya/embla-carousel-react/issues/26) and we'll continue this conversation there.

Thanks!
David

[2020-05-11 13:42] davidcetinkaya commented on #47
Hi Felix (@xiel),

Nicely done! Looking good 🙂.

I think it makes a lot of sense to expose the **options** with the engine method `embla.dangerouslyGetEngine()` of course. I'll fix that as soon as possible.

The **reInit** method is actually available in the latest pushed commit (not release!). It will be released with Embla v.3 (as mentioned earlier I'm working on v.3 right now).

[code]

...wher

[2020-05-13 13:24] davidcetinkaya commented on #47
Hello again Felix (@xiel),

The **options** object is now exposed when you grab the engine. It comes with [this commit](https://github.com/davidcetinkaya/embla-carousel/commit/bd08fe6c6cab99fcde6faca454f1de7a296a3f01).

Cheers,
David

[2020-05-13 17:38] aurelienbobenrieth commented on #61
Hello David and thank you for your quick reply.

Considering the fact that slides can have different widths, you would still be able to compute every slide width within a foreach loop or so. To enable loop you would just need to have slides width superior to slider's one.

However, with this behavior an issue still remains on the current version. When you enable looping and you have slides with wi

[2020-05-13 18:31] davidcetinkaya commented on #61
Hi Aurélien (@aurelienbobenrieth),
Thanks for the additional explanation.

Of course, sorry for being unclear. I didn’t argue against your solution. My point was that a potential solution needs to cover the possibility of variable slide sizes.

This isn’t always the case. Two [`options`](https://github.com/davidcetinkaya/embla-carousel#align) can manipulate this:

- The first one being [`slidesToS

[2020-05-13 18:35] aurelienbobenrieth commented on #61
Oh yes thank you, I did not think about slidesToScroll/align, maybe I should try to play with these params, and eventually adjust them dynamically according to content.

And considering the two fallbacks solution you're suggesting, it now totally makes sense for me :)

Thank you for taking my talks into consideration,
Kind regards,
Aurélien

[2020-05-13 19:59] lifedup opened #62 "Passive event listeners"
I was wondering if there was a way to set all of the event listeners to passive?   In the type EventStore the event options are defined but it doesn't' look like in the eventDispatch they are included.  Plus I don't see away that you can set them. I'm hoping I overlooked something and there is a way to set them.

I'm getting some jank on mobile with a slider (3 full width image slides + some HTML)

[2020-05-13 20:13] xiel commented on #47
Awesome!

Do you think you can also trigger a "reInit" or "activate" in when it is **not** `isFirstInit` here?https://github.com/davidcetinkaya/embla-carousel/blob/bd08fe6c6cab99fcde6faca454f1de7a296a3f01/src/index.ts#L69

Because I would also need to re-init the plugin, when the user updates the option for axis for example, or when the containerNode changed etc.

`embla.on("activate", reInitWheel

[2020-05-14 09:10] davidcetinkaya commented on #61
Thank you for opening this issue and taking time to share your ideas and thoughts Aurélien (@aurelienbobenrieth). I'm happy to discuss improvements and new ideas 👍.

I'm currently working on the next major version **Embla v3**, and I'm hoping to solve this together with that release. If not, I'll work on this right after the release of v3.

This feature will follow [this specification](https://git

[2020-05-14 11:24] davidcetinkaya commented on #62
Hello @lifedup,

Thank you for your question. The answer to your question is no, it's not possible to set all listeners to passive. As far as I understand, passive event listeners matter the most for event listeners that could affect performance like touch and wheel event listeners. So I don't think it makes sense to make all listeners passive by default. As described in [this article](https://web

[2020-05-14 12:14] davidcetinkaya commented on #19
Hello Mark (@mrksmts) and Sacha (@SachaMPS),

I just wanted to let you know that I'm going to release Embla v.3 as soon as possible which will allow devs to choose between keeping redundant snap points or trimming them when using [containScroll](https://github.com/davidcetinkaya/embla-carousel#containscroll):

[code]

Cheers!
David

[2020-05-15 18:15] davidcetinkaya commented on #47
Hello Felix (@xiel),

Of course, exposing the:

[code]
...event makes sense.

Now I understand the out of bounds issue you’re experiencing. Hmm. This one is a bit tricky. One way to do it would be to not use any **out-of-bounds-effect**. So basically never let the target exceed any of the bounds when scrolling the wheel. Because otherwise I’m thinking that it can get quite messy exposing a lot of

[2020-05-15 19:03] xiel commented on #47
@davidcetinkaya Yea, that's fine! Definitely good enough for a first version 💯

**_no_** out-of-bounds: https://embla-carousel-wheel-gestures-hio0j134f.now.sh
**_shaky_** out-of-bounds https://embla-carousel-wheel-gestures-nh59111ur.now.sh

I think it feels better with the shaky version, than no out-of-bounds at all, because it feels too different to native behaviour on Mac/iOS imho.

Also when th

[2020-05-15 20:22] lifedup commented on #62
Thanks for the detailed response.  I'll look into a few css options on my end in the coming days.  Maybe using  css overscroll-behavior with touch-action might do the trick when trying to contain the scroll of an overflowed container.

I'm also not a huge fan of going strictly by the numbers that the tools like Lighthouse provide.  They are great for guidance but should be used on a case by case b

[2020-05-18 06:09] davidcetinkaya commented on #47
@xiel, I'll see if it's possible to add the disable bounds method soon. About the `reInit` event, maybe it should trigger on `resize` too? Because Embla re-initialises on resize.

[2020-05-18 06:47] xiel commented on #47
yes, that sounds reasonable, no matter what the reason is embla reInits, it would be good to know ;)

[2020-05-18 12:47] davidcetinkaya commented on #47
Allright @xiel,

If you git pull the latest commit you have the `reInit` event. So now you probably won't have to listen to the `resize` event at all, because the `reInit` event fires in these cases too.

I'll let you know how it goes with the `scrollBounds`.

Cheers!

[2020-05-19 06:40] davidcetinkaya commented on #62
Hello again @lifedup,

I've experimented with the following properties in combination with **passive touch listeners** in many different ways, in order to recreate Embla's touch drag behaviour:

- `touch-action: pan-y`
- `touch-action: pan-x`
- `touch-action: none`

...with no luck.

Any luck on your side?

Kindly,
David

[2020-05-22 19:45] ogheo opened #63 "Bug while destroying carousel"
<img width="632" alt="Screen Shot 2020-05-22 at 22 43 16" src="https://user-images.githubusercontent.com/6599359/82704259-d238bc00-9c7d-11ea-94b9-7bc9bfeca0d8.png">

[2020-05-23 06:19] davidcetinkaya commented on #63
Hello Oleg (@ogheo),

Please provide a code example of how you’ve setup the carousel. I need that I order to see why this is happening and confirm if it’s an actual bug with the package or not.

Kindly
David

[2020-05-23 07:16] #63 closed

[2020-05-23 17:51] davidcetinkaya commented on #63
Duplicate of [Embla Carousel React](https://github.com/davidcetinkaya/embla-carousel-react/) issue [#13](https://github.com/davidcetinkaya/embla-carousel-react/issues/13).

[2020-05-24 18:22] davidcetinkaya commented on #34
### This has been implemented and will be released with version 3.

The `changeOptions` method has been renamed to `reInit` in Embla v.3 which is a breaking change.

[code]

[2020-05-28 08:40] khanitnanj opened #64 "Cannot scroll to last item if has many items"
first, thanks for you library it's very helpful for my work.

I have some issue when the container has lot of items. ( Ex. 50 items with 150px of width)

I look in the element inspector

this code
`transform: translate3d(-1805.47%, 0px, 0px)`

I guess it's always back to -1800%

how to increase?

[2020-05-28 09:04] davidcetinkaya commented on #64
Hello @khanitnanj,

Please provide a test case like a [CodeSandbox](https://codesandbox.io/) or [CodePen](http://codepen.io/) that clearly demonstrates the issue. I need this to understand the issue you're experiencing and in order to debug it.

Kindly,
David

[2020-05-28 11:48] khanitnanj commented on #64
Hi @davidcetinkaya

I've created a CodeSandbox
https://codesandbox.io/s/embla-carousel-react-basic-setup-0ky1p

This is what I found, but I have fixed on my project

The problem is

1.  I set width for `.content`  to small box you can try at 300px
2. if `.embla__slide` I set the item width to 150px (flex: 0 0 150px)
3. I have items 50 items

it's will cannot scroll to the last item

but I fixed by

[2020-05-28 12:03] davidcetinkaya commented on #64
Hello again @khanitnanj,

Thank you for the CodeSandbox, it helped me debug why you're experiencing this issue 👍.

Please use padding instead of margin for spacing between slides, like [this example setup shows](https://codesandbox.io/s/embla-carousel-react-basic-setup-znjzv). Because Embla won't calculate the margins but the padding will be included when reading the slide widths if you use the bo

[2020-05-29 10:02] davidcetinkaya commented on #64
I'm closing this issue. Feel free to re-open it if you don't think it's resolved.
Thank you @khanitnanj!

[2020-05-29 10:02] #64 closed

[2020-05-31 07:57] davidcetinkaya commented on #62
Hi @lifedup,

At this point I've experimented a lot with touch-action and passive listeners to no avail. If you find a way to reproduce the current Embla behavior with passive listeners - please share it. Until then, I'm saying no to this request because it destroys the UX of the carousel. In my opinion, to such an extent that it's unusable on touch devices.

Thank you for your request. Cheers!
Da

[2020-06-01 06:40] davidcetinkaya commented on #22
I've taken the unfortunate naming into account and renamed the drag events to pointer events:

- `dragStart` --> `pointerDown`
- `dragEnd` --> `pointerUp`

### This has been implemented and will be released with version 3.

[2020-06-01 13:16] ontrigger opened #65 "Settle event fires continiously as long as mouse is held"
What the title says, the settle event will fire if you click on and hold any slide.

[CodeSandbox demonstration](https://codesandbox.io/s/embla-carousel-on-off-tj9ye)

[2020-06-01 13:34] davidcetinkaya commented on #65
Thanks for reporting this and the helpful CodeSandbox @ontrigger. I'll take a look at it as soon as possible.

Kindly,
David

[2020-06-05 11:47] davidcetinkaya commented on #65
Hello @ontrigger,

The [following commit](https://github.com/davidcetinkaya/embla-carousel/commit/aeacf18d1961b0508f0679db9e019278222baf05) includes a fix for this bug. Embla Carousel Version 3 is just around the corner so the bug fix will be released with version 3.

Thanks for taking time to create this issue 👍!

Best,
David

[2020-06-06 08:04] davidcetinkaya commented on #47
Hi Felix (@xiel),

The [latest commit](https://github.com/davidcetinkaya/embla-carousel/commit/66941f0c6185cd442398155d4d72977437d9b351) comes with the possibility to toggle the scrollBounds active/inactive 🙂:

[code]
Note that they're enabled by default for non loop carousels. Let me know if it works as intended.

Best,
David

[2020-06-06 08:12] xiel commented on #47
@davidcetinkaya Awesome, I will have a look this weekend. Thanks!

[2020-06-06 18:47] davidcetinkaya commented on #46
Hello Oleg (@olushchik),

The [following commit](https://github.com/davidcetinkaya/embla-carousel/commit/c91ba1c6e72988b990d9c375a64309a846f4cc63) includes a fix for this bug. Embla Carousel Version 3 is just around the corner so the bug fix will be released with version 3.

Thanks for taking time to create this issue 👍!

Best,
David

### This bug has been fixed and will be released with version 3

[2020-06-06 19:35] olushchik commented on #46
Thanks a lot, you are the best!

[2020-06-08 21:53] xiel commented on #47
Hey David (@davidcetinkaya),

reinit and bounds de/activating work perfectly and create a really great UX now! 🥳

Here is the updated version: https://embla-carousel-wheel-gestures-jsulrk1a3.now.sh ([Code](https://github.com/xiel/embla-carousel-wheel-gestures-demo/tree/master/src/js))

Thanks for the additional API, looking forward to the release of 3.0!
– Felix

[2020-06-09 05:54] davidcetinkaya commented on #47
Hey Felix (@xiel), nice work 🎉 !

Looking good to me! I'm glad the additions helped you achieve this 🙂. Version 3 is just around the corner now. I'm very excited about the release, even though it means a lot of work rewriting the documentation, and not to mention merging all option demonstration CodeSandboxes into one, where you're going to be able to toggle all the different options.

So are you

[2020-06-09 06:35] davidcetinkaya opened #67 "VOTE: Opinion wanted before release of v.3!"
### Question: Should Embla Carousel be responsible for toggling classnames out of the box or  should this be up to the user to implement?

WIth Embla v.3 this is easily achieved like so:

[code]

Basically, this suggestion is about **deprecating** the following [options](https://github.com/davidcetinkaya/embla-carousel#options):

- [`draggableClass`](https://github.com/davidcetinkaya/embla-carouse

[2020-06-09 07:07] xiel commented on #47
@davidcetinkaya Haha, yea writing all the documentation and demos is often the even harder work. 😅

Yes, my plan would be to wrap this into a small npm package during the coming days. I will also ensure this works great with the react version of embla. I will add you to the repository then, if that is ok? In case you need to make breaking changes in the future or so :) But no pressure, I will try

[2020-06-09 07:37] omarkhatibco commented on #67
@davidcetinkaya I would like to keep the classNames since I using it every time to style my slider.

I know I can easily implement it but it's overhead to do the same code every time you need to use the slider.

[2020-06-09 07:39] davidcetinkaya commented on #67
Thank you very much for sharing your opinion @omarkhatibco 👍. This is why I wanted to ask this before doing something 🙂. If you have any colleagues/friends using Embla, please consider asking them to vote.

Cheers!
David

[2020-06-09 08:02] davidcetinkaya commented on #61
Hello again Aurélien (@aurelienbobenrieth), I hope you're well 👍.

I've been working on this feature for a while and realized that not initializing the carousel when its content isn't enough to cover the carousel viewport could lead to unwanted behavior. If you're using Embla and utilize the [align option](https://github.com/davidcetinkaya/embla-carousel#align), you would expect the slides to alig

[2020-06-09 09:02] aurelienbobenrieth commented on #61
Hello David,
I'm fine thanks for asking, hope you're doing great as well !

For the first problem I ended up coping it with a thing like such :
[code]

[2020-06-09 09:42] ontrigger commented on #67
I thought the whole point of the carousel was to be very simple and customizable, hence having to manually write the the css and html for the basic setup. Having the styling be applied by the carousel itself rather than the user kind of defeats that purpose. As this functionality does not affect the behavior of the carousel itself and is there for mostly styling purposes, I think it should be remo

[2020-06-09 12:33] davidcetinkaya commented on #67
Thanks a lot for your thoughts @ontrigger 👍. While I personally agree that this should be up to the user with regards to Emblas purpose to be a bare bones carousel lib, I don't think it's always crystal clear where to draw the line. This is why I felt I shouldn't just decide this on my own without listening to opinions from Embla users, like your opinion 🙂.

[2020-06-09 12:49] davidcetinkaya commented on #61
Thanks for your input @aurelienbobenrieth 👍.

Of course, It's solvable like you suggest. But seems like Embla users are used to the automatic alignment so I will keep this.

But the **loop fallback** part is solved and turned out great thanks to your suggestion.
Again, thanks!

[2020-06-09 14:53] sh-a-v commented on #25
@davidcetinkaya this is a very necessary option

[2020-06-09 15:07] nikrowell commented on #67
I'd vote for keeping at least the `selectedClass` as I see that being the most useful for styling. Draggable and Dragging classes are nice, but on non-touch devices, I'd typically include dots or prev / next navigation and don't need the drag feedback. I know there are other uses for those classes, but they seem secondary to me - just sharing my use case 😀

[2020-06-09 17:31] davidcetinkaya commented on #25
Hello Alexander (@sh-a-v),
Would you care explaining why? What are the benefits of this?

[2020-06-09 17:37] davidcetinkaya commented on #67
Hello Nik (@nikrowell),

Thanks a bunch for sharing your use case. And of course, as you suggest the dragging classes aren’t necessarily tied to the selected class. Didn’t think about that 🙂. Keeping one and removing the other is an option too 👍🏻.

[2020-06-09 17:54] niubsta commented on #67
Personally I'm not making use of these pre-defined classes as my use cases are rather straight forward. So for me it would be fine to not have them out of the box.

However, I think it's kind of a pain to remove features that existed before as it makes updating cumbersome for everybody relying on these classes. So I'd suggest keeping them for the sake of compatibility.

Are there any other breakin

[2020-06-10 07:23] davidcetinkaya commented on #67
Hello @niubsta,

Thank you for sharing your opinion ⭐. I agree, it can be cumbersome to do so yes. But I think we should all expect some breaking changes when major version releases happen. Otherwise we're dooming software to be what it was in earlier stages and preventing progression. This could be anything from reducing the bundle size to changing unfortunate naming of API methods or similar. No

[2020-06-10 08:04] davidcetinkaya commented on #47
Hello again Felix (@xiel),

Next up is the release of v.3 so I think doing a pre-release will rather slow things down at this point. Of course, add me to the repo 🙂.

I'll let you know when v.3 is out!

Kindly,
David

[2020-06-10 09:00] xiel commented on #47
alrighty, i’ll just wait for the release 👍

[2020-06-11 13:41] davidcetinkaya commented on #67
Thank you all for voting! Embla will still support the class name toggling in v.3 with one addition: The possibility to opt-out by passing empty strings as classnames for all these options.

Stay tuned for Embla Carousel version 3!

[2020-06-11 13:41] #67 closed

[2020-06-12 14:49] davidcetinkaya commented on #67
Hello Gerhard (@niubsta) and all others,

Here's the [migration guide](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v3.0.0) (in progress!). The documentation may take some time to update so bare with me. Please let me know if you want to help.

Best,
David

[2020-06-12 15:08] davidcetinkaya commented on #50
Released with [version 3](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v3.0.0) 🎉 .

[2020-06-12 15:08] #50 closed

[2020-06-12 15:08] #22 closed

[2020-06-12 15:09] #61 closed

[2020-06-12 15:11] davidcetinkaya commented on #65
Hello @ontrigger,

This bug has been fixed and is ready for test if you grab the latest version. Note that it's a major version release so please read the [instructions here](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v3.0.0).

I would very much appreciate if you could confirm if this is working as expected now and the bug has been solved.

[2020-06-12 15:12] davidcetinkaya commented on #46
Hello @olushchik,

This bug has been fixed and is ready for test if you grab the latest version. Note that it's a major version release so please read the [instructions here](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v3.0.0).

I would very much appreciate if you could confirm if this is working as expected now and the bug has been solved.

[2020-06-12 18:21] davidcetinkaya commented on #47
Hello Felix (@xiel),

Version 3 is out 📣! Please read more about it [here](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v3.0.0). I will update the documentation as soon as possible.

Enjoy 😊!
David

[2020-06-14 13:15] niubsta commented on #67
Awesome @davidcetinkaya , really appreciate the effort! Thank you!

[2020-06-15 18:19] xiel commented on #47
Here we go, the wheel events plugin is out as well 🥳

[Installation & Examples](https://github.com/xiel/embla-carousel-wheel-gestures#installation)

[code]

[code]

Thanks for providing the nessessary API, @davidcetinkaya !

[2020-06-16 07:14] davidcetinkaya commented on #47
Hello Felix (@xiel),

Wow, awesome work 🎉 🥳!
Thank you for your efforts and I'm going to try it out a bit in the next few days. Really straightforward documentation so nicely done 🙂.

@sphair, @remisture and @horgen, this solves your feature request right?

Best,
David

[2020-06-16 07:20] davidcetinkaya commented on #47
@xiel I'm going to add this to the **readme** just to let users know it's there 🙂. Do you have any suggestions where it should be added?

[2020-06-16 09:39] xiel commented on #47
@davidcetinkaya Hehe, good question. Maybe below the CodeSandboxes as a new section "Plugins" or "Add-ons"?

Cool, I thought about adding the Logo, but wanted you permission first 👍

[2020-06-17 10:59] khanitnanj opened #68 "width problem if show/hide or remove some items"
sorry, I don't know how to explain.

the problem is

if I have 20 items in slide. I filter it to 5 items, width of slide is not fit (still same 20items)

How to fix it.

I have Code sandbox
https://codesandbox.io/s/embla-carousel-react-basic-setup-0ky1p?file=/src/js/index.js

[2020-06-17 11:02] davidcetinkaya commented on #68
Hello @khanitnanj,

Thank you for your question. This is because you have to tell Embla that something changed. So do it like this when you filter the number of items:

**Version 3 and up:**

[code]

**Versions below 3:**

[code]

[2020-06-17 11:29] khanitnanj commented on #68
It's work, but I have to reInit it twice times

First, embla.reInit({})
Then embla.reInit(myOptions)

Thank you for Super Fast Reply!

Love your library.

[2020-06-17 11:35] davidcetinkaya commented on #68
@khanitnanj no worries. Would you mind sharing your code so I can take a look?

[2020-06-17 11:40] khanitnanj commented on #68
Oh, I changed my element structor, and now working with reInit one time.

it's my fault.

Thank your for your support.

[2020-06-17 11:42] davidcetinkaya commented on #68
Glad to hear that. Enjoy 🙂.
David

[2020-06-17 11:42] #68 closed

[2020-06-17 17:55] gianlucacandiotti opened #69 "Feature: items option"
Hello! First of all, I discovered the library recently and seems very nice and active, props on the hard work.

So I'm building a web page and will show some carousels in different sections. Initially I was planning on building my own since most other options have many dependencies, but quickly started over engineering so I was very pleased to find this. One thing I would really like to have is ca

[2020-06-17 18:55] DominiqueVial opened #70 "Installation without any manager"
Could you please provide a way to use it without npm?
Thank you?

[2020-06-17 19:19] davidcetinkaya commented on #70
Hello @DominiqueVial,

Thanks for your question.
Please take a look at 👉🏻 [this issue](https://github.com/davidcetinkaya/embla-carousel/issues/32#issuecomment-547003593).

Let me know if it helps!
David

[2020-06-17 20:32] nnvnzndrvn opened #71 "Angular *ngFor breaks embla ("ascDiffsToSnaps[0] is undefined")"
I managed to get Embla to work with Angular the following way but I had the following issue:

Angular version:
`Angular: 9.1.11`

Import it in the component (no need to import in AppModule apparently):
`import EmblaCarousel from 'embla-carousel';`

Define a ViewChild to get the elementNode:
[code]

And initialize in ngOnInit():
[code]

The html:
 - this one works

[code]

 - this one returns "ERRO

[2020-06-17 22:53] nnvnzndrvn commented on #29
I'm not sure if I should close my issue or not. I can confirm that setting a setTimeOut "fixes" it. My issue contains a bit more of info regarding the error displayed when trying to drag but I think it's essentially the same issue reported here.

[2020-06-18 06:34] davidcetinkaya commented on #70
Duplicate of #32.

[2020-06-18 06:37] DominiqueVial commented on #70
Thank you!

[2020-06-18 06:37] #70 closed

[2020-06-18 06:37] davidcetinkaya commented on #70
No worries @DominiqueVial, enjoy 🙂.

[2020-06-18 06:56] davidcetinkaya commented on #69
Hello Gianluca (@gianlucacandiotti),

Thank you for tour feature request. By the sound of it, Embla Carousel supports this out of the box. You can set any desired width for your slides and Embla will pick that up. Try this:

1. Open this [CodeSandbox](https://codesandbox.io/s/embla-carousel-github-issue-69-bppew).
2. Open the following file `src/css/embla.css`.
3. Find the class name `.embla__slid

[2020-06-18 07:41] davidcetinkaya commented on #71
Hello @nnvnzndrvn,

Thank you for picking this up 👍. That's strange. What version of Embla are you using? Shouldn't the `ngFor` loop be on the container in order to loop all slides like below?

[code]

It would be really helpful if you could setup a CodeSandbox with Angular so I can debug it further 🙂.

Best,
David

[2020-06-18 21:40] gianlucacandiotti commented on #69
Hey David!

Thanks a lot for taking the time to look into this. Yeah, you're right, it works the way I need it 😄  Maybe it would be worth to add this to the examples.

Keep up the great work!
Gianluca

[2020-06-19 01:26] nnvnzndrvn commented on #71
I'm using
`  "_id": "embla-carousel@3.0.2"`

I think the `*ngFor` should be on the `embla__slider `class, otherwise it will create many containers.

Generally the library can be used fine, but issues happen when using `*ngIf` conditions. If I remember correctly, these take the element out of the DOM when the condition is false, and probably embla is unable to find it then. This can be worked aroun

[2020-06-19 07:44] davidcetinkaya commented on #69
Thank you for asking. I'm happy that it was what you were looking for 🙂. And I agree, I should build a better showcase page. It's kind of hard to get the time needed to do so but I'll do my best to improve it. Thanks for your suggestion 👍.

Have a great day and let me know if you have further questions.

Best,
David

[2020-06-19 07:44] #69 closed

[2020-06-20 07:26] davidcetinkaya commented on #45
Closing this because I'm going to refactor the documentation page.

[2020-06-20 07:26] #45 closed

[2020-06-20 07:48] davidcetinkaya commented on #71
Hello again @nnvnzndrvn,

Here's a [working example](https://codesandbox.io/s/embla-test-angular-kekc2). The issue was not related to Embla, it was due to the invalid import statement. Seems like there is no [esModuleInterop](https://stackoverflow.com/questions/56238356/understanding-esmoduleinterop-in-tsconfig-file) flag in your sandbox, so changing this line:

[code]

...into this:

[code]

Made

[2020-06-20 12:49] nnvnzndrvn commented on #71
Hi @davidcetinkaya,

Thanks! I see, I wasn't aware of this esModuleInterop :)

I modified it to include one example using `*ngIf` and another one with `[ngClass]`. [Here](https://codesandbox.io/s/embla-test-angular-3ise5?file=/src/carousel/carousel.component.html).

I tried on ngAfterViewInit but it's the same result. I guess that the `*ngIf` is read before Elma can catch it. I followed what's sug

[2020-06-20 14:00] davidcetinkaya commented on #46
Have you had the chance to test this @olushchik? Thanks in advance.

[2020-06-20 14:00] davidcetinkaya commented on #65
Have you had the chance to test this @ontrigger? Thanks in advance.

[2020-06-22 09:05] olushchik commented on #46
Unfortunately, no. Just tested in sandbox, works fine.

[2020-06-22 09:07] davidcetinkaya commented on #46
@olushchik so this issue is resolved then 🙂?

[2020-06-22 09:13] olushchik commented on #46
I reread my message and realized that it was not clear)) I meant that I did not check this in my real project, but only in the sandbox. And looks like the issue is resolved 👍

[2020-06-22 09:17] davidcetinkaya commented on #46
Awesome, thank you for your feedback. I'm closing this issue and thanks for reporting this 👍.

[2020-06-22 09:17] #46 closed

[2020-06-22 17:53] davidcetinkaya commented on #47
@xiel this is totally unrelated but take a look at this [CodeSandbox](https://x9diz.csb.app/). Was just fooling around a bit 🙂.

[2020-06-22 19:13] xiel commented on #47
@davidcetinkaya wow really cool! perfect demo for the y axis!

[2020-06-22 22:17] ontrigger commented on #65
Haven't had any chance to check it out. I'll probably check it somewhere after the 25th

[2020-06-24 06:32] davidcetinkaya commented on #47
Closing this as resolved. Thank you Felix (@xiel) for your efforts 👍.

[2020-06-24 06:32] #47 closed

[2020-06-26 10:04] davidcetinkaya opened #72 "Create Mono Repo"
## Changes

- [embla-carousel-react](https://github.com/davidcetinkaya/embla-carousel) will move into this core library.
- Migrate from `tslint` to `eslint`.
- Use `rollup` for bundling.

[2020-06-27 13:04] davidcetinkaya commented on #47
Hello Felix (@xiel),
In order to get rid of maintaining two separate repos I've merged `embla-carousel-react` into the core library. This was finalized in **v3.0.10**. I thought it would be good to mention it because the wheel gesture package is dependent on this 🙂. I hope this won't cause too much trouble for you.

[2020-06-29 07:47] davidcetinkaya commented on #72
Published with [v3.0.15](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v3.0.15).

[2020-06-29 07:47] #72 closed

[2020-07-01 04:23] davidcetinkaya commented on #65
Closing this due to inactivity. Feel free to open this issue if you don’t think it’s resolved.

Thanks!
David

[2020-07-01 04:23] #65 closed

[2020-07-02 08:21] hannahwoodward opened #73 "Ignore <template> slide elements"
I'm dynamically generating a list of slides (using AlpineJS `x-for`) before calling `EmblaCarousel`, however it seems like the `<template>` element is being picked up as a slide. My HTML structure looks like this:

[code]

I'm now manually creating this list for the time-being, but is there any way to ignore the `<template>` when creating an instance of Embla?

[2020-07-04 19:07] davidcetinkaya commented on #73
Hello Hanna (@hannahwoodward),

Thank you for your feature request. I also appreciate the clear explanation of the issue you’re experiencing. At the time of writing this is expected behavior and I don’t think there’s a straightforward way to change it without modifying the Embla source code. The docs state:

I’m not familiar with Apline.js, but judging from your explanation, I’m assuming you reall

[2020-07-06 06:01] davidcetinkaya commented on #72
Thank you @michaelrambeau for the tip! This makes everything much easier to maintain 🙂.

[2020-07-06 07:39] davidcetinkaya commented on #70
FWIW [here's a demonstration](https://davidcetinkaya.github.io/embla-carousel/#cdn-usage) of how to install Embla without a package manager.

[2020-07-08 06:12] DominiqueVial opened #74 "Settings for examples are needed"
Without settings next to each example I am afraid Embla is unusable but in very sample use cases. For example as a user I want to use Embla with thumbnail navigation. There is an example for it but no settings associated.

So I think adding detailed settings will be a huge improvement in this great piece of code  !

😀

[2020-07-08 06:36] davidcetinkaya commented on #74
Hello @DominiqueVial,

Thank you for your request. CodeSandboxes for each example are on their way! The documentation pages are brand new so give me some time to update it with useful code links 😉.

Best,
David

[2020-07-08 06:48] DominiqueVial commented on #74
OK @davidcetinkaya

I give you the time!
I am currently polishing the next version of my artistic website, using another carousel but I keep an eye on _Embla_.

Best,

Dominique

[2020-07-08 07:20] davidcetinkaya commented on #74
I will let you know when I have something @DominiqueVial 🙂.

Best,
David

[2020-07-09 13:20] korsvanloon opened #75 "Type definition file refers to files that don't exist in the build"
The index.d.ts file that is generated refers to files in the vanilla folder.
This folder does not exist anymore in the npm package.
Therefore the typings break.

[2020-07-09 19:51] davidcetinkaya commented on #75
Hello @korsvanloon,

Thank you for reporting this. You’re right, it’s because the folder is not included in the `files` array in `package.json`, but it should be there.

I’ll release a patch fix as soon as possible and will let you know when it’s ready to consume.

Kindly,
David

[2020-07-10 07:45] davidcetinkaya commented on #75
Hi again @korsvanloon,
Release [v.3.0.17](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v3.0.17) should include the missing type definition files. Enjoy!

Best,
David

[2020-07-10 07:45] #75 closed

[2020-07-10 07:49] korsvanloon commented on #75
Very quickly! Thank you so much!

[2020-07-10 17:52] DarceyLloyd commented on #74
bump...

Nice examples, but only installation page has code template that is usable. Tried to view source on them but you got some build process going on for full page js render so that's out the window.... angular? react? vue? custom? Other than inspect element and script hunting in dev tools it's a no go... Look forward to docs / template pages with usable source available.

[2020-07-10 18:11] davidcetinkaya commented on #74
Hello Darcy (@DarceyLloyd),

As discussed in this issue, examples are on their  way. In the meantime, if you want to get started with some basic setups, take a look at these CodeSandboxes:

- [Vanilla JS setup with dot & arrow nav](https://codesandbox.io/embed/embla-carousel-basic-setup-oyols)
- [React setup with dot & arrow nav](https://codesandbox.io/embed/embla-carousel-react-basic-setup-znjzv)

[2020-07-10 19:09] DarceyLloyd commented on #74
Nice 1 Dave...

I've already got an implementation of the carousel running via vanilla JS ES6+ webpack babel project, I wanted to implement the carousel with the square thumbnail and tracking that, could have hooked into 2 embla carousels and told them to scroll to n but didn't have time to trial and error.

But yep, will keep an eye out for updates.

And thanks for the links.

Keep up the great w

[2020-07-12 10:46] conioX opened #76 "Remove gap on left and right ?"
Hi, thanks for your great library :)
there is possibility i can remove the gap on container?  (Please check image below)

i follow css from your example

[code]

![gap](https://user-images.githubusercontent.com/49129975/87244425-6dbd0080-c467-11ea-98b0-e6a096ed9a54.png)

[2020-07-12 11:24] davidcetinkaya commented on #76
Hello @conioX,

I’m glad you like it 🙂. Of course, try adding this:

[code]

If you want to read more about **containScroll**, follow [this link](https://davidcetinkaya.github.io/embla-carousel/api#options) to the options section on the API reference page.

Let me know if it helps!
David

[2020-07-12 15:34] conioX commented on #76
Waw, thank you so much @davidcetinkaya :)

[2020-07-12 15:34] #76 closed

[2020-07-12 16:32] davidcetinkaya commented on #76
You’re welcome @conioX. Enjoy and spread the word about Embla Carousel 🙂.

[2020-07-13 06:29] davidcetinkaya commented on #74
Hello again @DominiqueVial ,

Which variant of Embla are you using? Vanilla-JS or React?

Kindly,
David

[2020-07-13 10:45] davidcetinkaya commented on #74
Hello again Darcey (@DarceyLloyd),

The vanilla thumbnail CodeSandbox is ready. Click on the Edit Code link on the [examples page](https://davidcetinkaya.github.io/embla-carousel/examples#navigation).

Let me know if it helps!

Best,
David

[2020-07-13 11:18] DarceyLloyd commented on #74
Hi Dave,

RE: Vanilla or React
I'm using embla on woocommerce single item shop pages, so it's plain old vanilla js. So I'm generating a json string of data for parsing via js which in turn generates the DOM structures for emblad to use, then I initialise embla.

RE: Example code
Excellent and looks good! As soon as I get a bit of time to revisit the woocommerce single item shop page I will give it

[2020-07-15 11:07] davidcetinkaya commented on #74
@DominiqueVial any updates [on this](https://github.com/davidcetinkaya/embla-carousel/issues/74#issuecomment-657384990)?

Kindly,
David

[2020-07-15 13:21] DominiqueVial commented on #74
Hi Dave,

I don't use Embla for now. My plan is to use it on _Kirby_, with vanilla JavaScript.

;-)

[2020-07-17 06:33] davidcetinkaya commented on #74
I see @DominiqueVial, thanks. When you’re ready, you can check out the vanilla thumbnail example as described [here](https://github.com/davidcetinkaya/embla-carousel/issues/74#issuecomment-657484657).

[2020-07-19 18:51] jamesdbruner opened #77 "Invalid hook call - React version mismatch"
@davidcetinkaya If you go spin up a codesandbox to try out embla (react) [like I did](https://codesandbox.io/s/awesome-hofstadter-wdn4f?file=/package.json:221-228) you'll get a react and react-dom version mismatch since embla has it's own react and react-dom dependencies. Would it not make sense to have these be dev dependencies? In that codesandbox example if you change the react and react-dom ve

[2020-07-19 19:26] davidcetinkaya commented on #77
Hello @jamesdbruner,

Thank you for noticing this. I only have to bump `react` to `16.13.1` to make it work. This is because the `react-dom` package is only used in a test file. I've released v.3.0.19 which should solve this issue.

Give it a go and let me know if it helps!

Best,
David

[2020-07-19 19:43] jamesdbruner commented on #77
@davidcetinkaya First of all, that was an insanely fast response. That did fix the issue, thank you so much for doing that!

Embla is honestly the best carousel I've seen in a decade of web development, so kudos to you and everyone who's contributed.

[2020-07-19 19:43] #77 closed

[2020-07-19 19:57] davidcetinkaya commented on #77
Your timing was good, I was fixing some small stuff on the documentation page when you submitted the issue 😉.

Thank you @jamesdbruner and nice catch with the dependencies. Enjoy 🙂!

Kindly,
David

[2020-07-20 10:06] davidcetinkaya commented on #74
The vanilla JavaScript examples are in place. React CodeSandboxes are next up.

[2020-07-21 09:46] korsvanloon opened #78 "Conflicting names for type and function"
Both the function EmblaCarousel and the type are exported with the same name which results in the type not being able to import.

[code]

Renaming either the type or the function name would fix this.

I tried to do something similar as in `react.ts`:

[code]

But that still give me errors.

As a workaround I could do this:

[code]

[2020-07-21 18:34] davidcetinkaya commented on #78
Hello @korsvanloon,
Thank you for your suggestion. I decided to add the `Type` suffix to all types. So this is how the index.ts file turned out based on your suggestion:

[code]
So release [v3.0.20](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v3.0.20) should include what you need.

Give it a go and let me know if it helps!
David

[2020-07-22 21:38] damian-balas opened #79 "Options object doesn't work after migration"
### Options object doesn't work after migration from embla-carousel-react to embla-carousel/react

my config:

[code]

Loop doesn't work.
If emblaCarousel loads for the first time, after dragging I get "maximum call stack size exceeded" error.

![image](https://user-images.githubusercontent.com/39343843/88231030-c1072e00-cc73-11ea-9434-37197e0ea589.png)

It doesn't work on ```embla-carousel-react

[2020-07-23 07:44] davidcetinkaya commented on #79
Hi Damian (@damian-balas),

I'm not sure why you get this error because I can't reproduce it. I just created a [CodeSandbox](https://codesandbox.io/s/embla-carousel-react-github-issue-79-dkhdb) with the same **options** and it's working just fine.

You haven't provided any of your code so please take a moment to reproduce the error by forking the CodeSandbox above. Alternatively, you can provide y

[2020-07-23 07:45] damian-balas commented on #79
Ok, I'll try my best :)

[2020-07-23 13:22] jodiedoubleday opened #80 "Question: Is there a way to reset the autoplay timer when clicking dots/scrollNext"
Noticed this on the demo as well, but if I have autoplay on but click on the next arrow, the timing function of the autoplay doesn't reset. Instead, the timer still goes resulting in (depending on when you clicked on the next arrow immediately skip the image after.

(sorry this is hard to explain)

[2020-07-23 13:32] davidcetinkaya commented on #80
Hello Jodie @jodiedoubleday,

Would you mind sharing the link to the demo you’re mentioning? Also, what’s the desired behavior in your opinion?

Kindly
David

[2020-07-23 13:44] davidcetinkaya commented on #73
Hello again Hannah (@hannahwoodward),

Any thoughts about my response?

Best
David

[2020-07-23 14:48] damian-balas commented on #79
Here is some additional info:

**package.json dependencies:**
[code]

**EmblaCarouselWrapperComponent:**
[code]

**EmblaCarouselComponent:**
[code]

**And the slide for Carousel:**
[code]

I'm using framer-motion and react-router for routing with animation.

I hope this helps.

Thanks :)

[2020-07-23 14:49] hannahwoodward commented on #73
Hi David,

Sorry for not replying sooner!

Alpine.js is a component-based framework (similar to Vue), which helps with state management & reactivity. In this case, I'm pulling some reviews from an API via JS, then feeding the results into an Alpine component, which automatically renders the list via the `x-for` attribute (in the same DOM location). I'd usually try and do this server-side, but unfo

[2020-07-23 14:58] damian-balas commented on #79
I have on route "/" my first emblaCarousel and on /some-route my second emblaCarousel

If I am on /some-route and refresh the page, then I get this maximum stack size exceeded error

If I am on "/" the emblaCarousel doesn't loop. If I go from "/" to "/some-route" I don't get maximum stack size exceeded error and the emblaCarousel works fine. (on "/" it's still broken)

[2020-07-23 15:30] davidcetinkaya commented on #73
Hi Hannah (@hannahwoodward),

Thanks for the clarification. Nice to hear that the hack works. Feel free to reach out again if you at some point would like me to consider implementing this feature.

Cheers!
David

[2020-07-23 15:30] #73 closed

[2020-07-23 15:35] damian-balas commented on #79
Just found out something.

If I change

[code]

to:

[code]

It works fine. I can also do flex: 0 0 50%. But I CAN'T go below 50%.

" maximum stack size exceeded error " still not fixed :/ I don't know what could be the problem there.

[2020-07-23 15:38] davidcetinkaya commented on #79
Hi again Damian (@damian-balas),

Thanks for the additional information. I will take a look at the provided details and get back to you when I’ve done so.

In the meantime, please take a look at [this issue](https://github.com/davidcetinkaya/embla-carousel-react/issues/30#issuecomment-641161540) that one of my users submitted some time ago. Seems like framer-motion page transitions can cause some

[2020-07-23 15:41] damian-balas commented on #79
I've already implemented exitBeforeEnter prop. :disappointed:

[2020-07-23 15:58] damian-balas commented on #79
### MORE INFO

I found out that when you have only 4 slides and try to display 3 at the same time (width: 33.33% / flex: 0 0 33.33%) EmblaCarousel breaks.

[2020-07-23 16:26] davidcetinkaya commented on #79
Thanks for digging further and narrowing it down @damian-balas!

I think I know why this is happening now. I will look into this and get back to you when I’ve done that.

Kindly,
David

[2020-07-23 16:34] damian-balas commented on #79
Awesome! I really want to use this package, because it's the smoothest one :)

[2020-07-23 18:19] davidcetinkaya commented on #79
@damian-balas seems like my guess wasn't correct.

The fallback to `loop: false` when slides aren't enough to make the loop effect works for the react version as well. If I use 4 slides with `flex: 0 0 33.33%` like you [mentioned here](https://github.com/davidcetinkaya/embla-carousel/issues/79#issuecomment-663088948) it still works as expected. Please take a look at [this CodeSandbox](https://code

[2020-07-23 19:19] damian-balas commented on #79
@davidcetinkaya the CodeSandbox example doesn't work for me.

![image](https://user-images.githubusercontent.com/39343843/88329384-287fb500-cd2a-11ea-951b-fa4de299d638.png)

[2020-07-23 19:23] davidcetinkaya commented on #79
@damian-balas what do you mean by doesn't work? Can you drag the carousel?

[2020-07-23 19:24] damian-balas commented on #79
I can drag it, but it doesn't loop. As you can see in the first screenshot - there are blank rectangles

[2020-07-23 19:25] davidcetinkaya commented on #79
I see. That's because Embla realizes that the slides are not enough for the loop effect to work. So it changes `loop: true` to `loop: false` for you automatically.

[2020-07-23 19:28] damian-balas commented on #79
Then why does it work on your machine? :confused:

[2020-07-23 19:30] davidcetinkaya commented on #79
How do you mean 😕? The CodeSandbox is working fine?

[2020-07-23 19:31] damian-balas commented on #79
No, the CodeSandbox doesn't work. You said:

If I understood it correctly, it works for you, right?

[2020-07-23 19:32] damian-balas commented on #79
### UPDATE

I have removed framer-motion. I still get Maximum stack size exceeded error :confused:

[2020-07-23 19:37] davidcetinkaya commented on #79
This is expected behavior when you don't provide enough slides with enough width for the loop effect to work. There has to be enough slides to cover the gap needed when flipping slide positions, otherwise the carousel would flicker when looping.

[2020-07-23 19:40] damian-balas commented on #79
Ok, so 1 "bug" is solved. I'll just make it 50% instead of 33.33%. It would be nice if you could give a note about this in the docs. So anyone having this issue will know what's going on.

I still have no idea what could cause the maximum stack size exceeded error.

[2020-07-23 19:47] davidcetinkaya commented on #79
It's actually stated in the docs 🙂. Take a look here:

<img width="1374" alt="option-loop" src="https://user-images.githubusercontent.com/11529148/88331773-ca54d100-cd2d-11ea-81ef-eaef49722ffb.png">

Unfortunately, I can't see anything helpful from the screenshot 😕.

[2020-07-23 19:53] davidcetinkaya commented on #79
@damian-balas does the previous and next buttons work for you?

[2020-07-23 19:55] damian-balas commented on #79
You're right, my bad! I didn't see it :)

[2020-07-23 19:55] damian-balas commented on #79
No :confused:

[2020-07-23 19:56] davidcetinkaya commented on #79
So the previous and next buttons also trigger the maximum call stack issue?

[2020-07-23 19:57] damian-balas commented on #79
No, they don't do anything.

[2020-07-23 19:58] damian-balas commented on #79
Is there a way to programmatically rerender/reinitialize the carousel?

[2020-07-23 19:59] davidcetinkaya commented on #79
Is there a way to programmatically rerender/reinitialize the carousel?

Yes, like so:

[code]

[2020-07-23 19:59] damian-balas commented on #79
Ok, I'll try something and be back in a minute or so :)

[2020-07-23 20:02] damian-balas commented on #79
[code]

If I wait then for 3 seconds, I don't get this error.

[2020-07-23 20:05] davidcetinkaya commented on #79
Do you get the error if you do it like this?

[code]

This could be the case. Maybe there's no children there when you initialize embla for the first time.

[2020-07-23 20:08] damian-balas commented on #79
If I do it like this, the carousel works fine, but it's a nasty fix IMO :confused:

There should be children, because my 'test code' looks like this:

[code]

[2020-07-23 20:11] damian-balas commented on #79
I have an idea. Could you please add an option to delay the initialization of emblaCarousel (if it's possible) so it would look like:

[code]

[2020-07-23 20:15] damian-balas commented on #79
### SOLUTION

I found the problem!
It's because of i18n, which uses react suspense. :) I think I can fix it on my own now!

[2020-07-23 20:17] davidcetinkaya commented on #79
Nice digging @damian-balas 😃! Let me know how it goes. I hope that this will solve it so you can enjoy the power of Embla Carousel.

[2020-07-23 21:24] damian-balas commented on #79
Ok, it works!
Thanks for your time!
I appreciate it.

You can put this information in the docs - "Might not work with react suspense".

[2020-07-23 21:24] #79 closed

[2020-07-25 06:06] davidcetinkaya commented on #79
No worries. I’m glad you got it sorted 🙂.

I think a better approach would be to try to reproduce the issue in a CodeSandbox that uses React suspense, so I can understand why this is happening and try to fix this. That would be a nice addition.

Thank you for reporting this.

Kindly
David

[2020-07-25 08:00] davidcetinkaya commented on #79
I just realized something. If you want the loop effect to work with 4 slides where each slide is 1/3 you have to use the following css:

[code]

This is because the carousel viewport is 100%, and 33.33% x 3 slides = 99.99%, which is why Embla falls back to loop false. So if you use 33.3333% x 3 slides = 100% because the browser will round it to 100%. Alternatively, you can use the css calc functio

[2020-07-26 18:08] damian-balas commented on #79
Wow thanks! :) I had to do 33.5% to make it work.

[2020-07-28 07:42] davidcetinkaya commented on #78
@korsvanloon have you had a chance to try the [new type exports](https://github.com/davidcetinkaya/embla-carousel/issues/78#issuecomment-662035212)?

[2020-07-28 07:44] davidcetinkaya commented on #80
@jodiedoubleday do you want to pursue this?

Best,
David

[2020-07-29 18:29] davidcetinkaya commented on #74
@DominiqueVial and @DarceyLloyd I'm closing this because I've added CodeSandbox links to every example on the documentation page. Enjoy!

[2020-07-29 18:29] #74 closed

[2020-07-29 19:23] davidcetinkaya commented on #74
Hello Nick (@ndimatteo),

The React Autoplay CodeSandbox as we discussed some time ago in [this issue](https://github.com/davidcetinkaya/embla-carousel-react/issues/31#issuecomment-642761864) is ready. Scroll down to the bottom of the page on the [examples page here](https://davidcetinkaya.github.io/embla-carousel/examples#inspiration) if you're interested.

Kindly,
David

[2020-07-31 18:18] davidcetinkaya commented on #78
@korsvanloon I'm closing this as resolved. Feel free to re-open this issue if needed.

Kindly,
David

[2020-07-31 18:18] #78 closed

[2020-08-01 08:26] misshu1 opened #81 "React, carousel not working with fetched images"
I'm not able to use the carousel with photos fetched from outside my project.
Getting the following error:

[code]

To make the carousel work I have to do a workaround like

[code]

I don't think that's normal.

[2020-08-01 11:33] davidcetinkaya commented on #81
Hello Andrei (@misshu1),

Thank you for opening this issue. Initializing an empty carousel without any slides is working fine. But the error you mention happens when I start dragging an empty carousel (without any slides). I'll see what I can do to fix that.

Kindly,
David

[2020-08-01 11:35] davidcetinkaya commented on #80
Hello again @jodiedoubleday.

I'm closing this issue for now. Feel free to re-open this issue if you want to pursue this.

Best,
David

[2020-08-01 11:35] #80 closed

[2020-08-02 08:00] davidcetinkaya commented on #81
Hello again Andrei (@misshu1),

I've released a patch fix with [version 3.0.23](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v3.0.23). Dragging a carousel with no slides shouldn't trigger the error anymore.

Please note that you might need to tell Embla that the slide count has changed when you're done fetching your images. One way to do it would be:

[code]

Please try it out and

[2020-08-02 08:23] davidcetinkaya commented on #71
Hello @nnvnzndrvn,

I've released a patch fix with [version 3.0.23](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v3.0.23). Dragging a carousel with no slides shouldn't trigger the error you mention anymore. Just wanted to let you know if you want to experiment with Embla and Angular more.

Kindly,
David

[2020-08-02 18:41] davidcetinkaya commented on #79
Hello again Damian (@damian-balas),

I've recently released a patch fix with Embla [version 3.0.23](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v3.0.23). If you don't mind you can try if react suspense still trigger [the error](https://github.com/davidcetinkaya/embla-carousel/issues/79#issue-664066439) you initially mentioned in this issue.

Kindly,
David

[2020-08-05 19:46] misshu1 commented on #81
Hey, sorry for the delay, works now :)

[2020-08-06 03:21] davidcetinkaya commented on #81
Thanks for confirming that it works Andrei (@misshu1).

Enjoy and cheers!
David

[2020-08-06 03:22] #81 closed

[2020-08-06 17:35] davidcetinkaya commented on #71
I'm closing this for now due to lack of activity. Feel free to re-open this issue if you want to pursue this.

Best,
David

[2020-08-06 17:35] #71 closed

[2020-08-13 09:35] sedlukha opened #82 "Node engine?"
Does this package really need node version in package.json? Some people use older Node.js versions. And this package works fine with them

[2020-08-13 10:25] davidcetinkaya commented on #82
Hello Artur @sedlukha,

Thank you for noticing this.
After reading the [documentation](https://docs.npmjs.com/files/package.json#engines) again (this time more carefully), it became clear to me that I misunderstood the purpose of this field in `package.json`. Feel free to submit a PR. Otherwise I will fix this as soon as I have access to my personal computer.

Best,
David

[2020-08-13 10:59] sedlukha commented on #82
@davidcetinkaya

PR done. https://github.com/davidcetinkaya/embla-carousel/pull/83
Thank you for awesome package!

[2020-08-13 10:59] #82 closed

[2020-08-13 13:10] davidcetinkaya commented on #82
Hello again Artur @sedlukha,
Release [v3.0.26](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v3.0.26) comes with the patch fix for this.

Thank you for making Embla Carousel better and welcome to the [contributors club](https://github.com/davidcetinkaya/embla-carousel#contributors) 🙂.

[2020-08-17 16:17] wopian opened #84 "Question: Is this package side effect free?"
I found this on Reddit and saw it exports as an EcmaScript Module, but doesn't have a `sideEffects` property in `package.json`.

Details on the `sideEffects` property: https://webpack.js.org/guides/tree-shaking/#mark-the-file-as-side-effect-free

_It's a link to the Webpack guides, but it's the most in-depth explanation on `sideEffects` with examples that applies to Javascript itself and other bun

[2020-08-17 19:11] rolandtoth opened #86 "Toggle axis example"
Thanks for this wonderful carousel, I'll definitely use it my next project.

One question though: I tried to use .reInit(options) to switch between horizontal and vertical layouts (axis) on a button click, but no joy. Apparently the carousel moved in the desired direction, but only the first image was shown in the "other axis" mode. It seems it was a CSS (embla.css, ".embla__container" being flex

[2020-08-17 19:14] davidcetinkaya commented on #86
Thanks, and thank you for your question Roland (@rolandtoth),

I will set up a CodeSandbox as soon as possible demonstrating this. I'll let you know when I have something.

Kindly,
David

[2020-08-17 19:15] davidcetinkaya commented on #84
Hello James @wopian,
Thank you for your question. I'll take a look at it and get back to you when I have something.

Kindly,
David

[2020-08-18 08:10] davidcetinkaya commented on #86
Hi again Roland @rolandtoth,

I've created a [CodeSandbox](https://codesandbox.io/s/embla-carousel-vanilla-github-issue-86-zw5fl) demonstrating how to achieve this. The trick is to change the container css to `flex-wrap: wrap;` when you want a vertical carousel in order to stack the slides vertically. Also note that a vertical carousel needs a height set for the overflow to work.

Let me know if i

[2020-08-18 08:21] davidcetinkaya commented on #84
Hi again James @wopian,

Forgive me if I'm misunderstanding this question after reading the docs 😊, but Embla Carousel should be **tree shakable**, [according to Bundlephobia](https://bundlephobia.com/result?p=embla-carousel@3.0.26):

<img width="1374" alt="tree-shakable" src="https://user-images.githubusercontent.com/11529148/90488410-2b5ca280-e13c-11ea-9ea3-cbdb2ed482a1.png">

Do you have any fu

[2020-08-18 08:54] wopian commented on #84
@davidcetinkaya `sideEffects` is a part of tree-shaking. Bundlers will check the property instead of evaluating the code (much slower and less accurate) to check if there are no side effects when the property is not present, before they will drop the unused code from the consumer's bundle.

In the bundlephobia example, it wasn't able to analyse the exports due to this property not being present.

[2020-08-18 09:21] rolandtoth commented on #86
Hi,

very nice, thanks! I was close as I also tried flex wrap but couldn't get it to work.

An unrelated question: is dangerouslyGetEngine() an undocumented feature? Is it safe to use?

Thanks again,
Roland

[2020-08-18 09:21] #86 closed

[2020-08-18 09:27] S1SYPHOS opened #87 "Text cannot be selected when `draggable` = false"
Hey there,
I just checked this out and really like its simplicity and freedom of choice!

Title says it all though, I can't select text inside a slider when `draggable: false`. Any pointer in the right direction is appreciated. Currently I'm using a minimal setup (see website under 'Installation').

Cheers,
S1SYPHOS

[2020-08-18 09:41] todortotev opened #88 "Blank space"
Hello! Thank you for the awesome library.

Can you try to help me and tell me why am I getting tons of blank space before and after the slides?

![Screenshot 2020-08-18 at 12 41 17](https://user-images.githubusercontent.com/51530311/90497774-230e6280-e150-11ea-920e-435b1d017d19.png)

Sandbox - https://codesandbox.io/s/embla-carousel-react-styled-components-forked-9eibz?file=/src/js/components/Embl

[2020-08-18 10:14] davidcetinkaya commented on #88
Hello Todor @todortotev,

Thank you. By default the carousel option is `align: “center”`. If you want to remove trailing and leading white space, add `containScroll: “trimSnaps”` to the carousel options.

Let me know if it helps!

Kindly,
David

[2020-08-18 10:24] todortotev commented on #88
Works! Thank you very much, appreciate it! Maybe a slack/discord channel would help "boost" the community. Your work is huge and I believe you should receive more acknowledgment!

[2020-08-18 11:56] davidcetinkaya commented on #86
I’m glad it helped @rolandtoth.

About the `dangerouslyGetEngine()`, yes it’s not documented but it’s safe to use if you know what you’re doing 🙂. The method basically exposes most of the internal Embla Carousel engine, and is intended to aid plugin authors with maximum extensibility. Another purpose is that it enables for extending the carousel with features that either won’t be added to the core

[2020-08-18 11:59] davidcetinkaya commented on #87
Hello Martin @S1SYPHOS,

Thank you for opening this issue. I’m going to try it out and will let you know if I can reproduce it and when I have something. Thanks for your patience.

Best
David

[2020-08-18 12:01] rolandtoth commented on #86
Sure, it's dangerously enough for me, thanks :)

[2020-08-18 12:04] davidcetinkaya commented on #88
Hi Todor @todortotev,

I’m glad it helped. And those are very encouraging words. Thank you!

I’m horrible at marketing a product, even if it’s open source and I’ve worked really hard on Embla Carousel. Even if I would open up channels, I wouldn’t know how to drive traffic to the channels 🙈.

Kindly
David

[2020-08-18 12:04] #88 closed

[2020-08-18 17:17] todortotev commented on #88
@davidcetinkaya Sorry for bothering you, but now I have another issue which came from the "trimSnaps" option.

![](https://media.giphy.com/media/Y3l3uQVAx2oIANoTVV/giphy.gif)

Any suggestions?

[2020-08-18 18:01] davidcetinkaya commented on #88
@todortotev sorry for missing this as you posted your code before. You need to add spacing between the slides with padding. So try this:

[code]

Let me know if it helps!

Kindly
David

[2020-08-19 03:58] todortotev commented on #88
@davidcetinkaya Yay, it worked! The main issue though is that the "item" of the carousel gets kinda cropped :/

![](https://media.giphy.com/media/iFm99DmE3o3FMExwaa/giphy.gif)

[2020-08-19 04:12] davidcetinkaya commented on #88
@todortotev seems like something funky is going on. It’s much easier if you create a CodeSandbox so I can see what’s causing this. Because this should not be an issue.

Would you mind creating a CodeSandbox?

[2020-08-19 05:41] todortotev commented on #88
@davidcetinkaya I have just updated the codesandbox. Apologies for not doing that earlier!

Thank you from the bottom of my heart for all the help and guidance!

[2020-08-19 05:52] davidcetinkaya commented on #88
@todortotev thanks! I’ll take a look at it in an hour or two and let you know when I have something.

Thank you for your patience!

[2020-08-19 07:54] davidcetinkaya commented on #88
Hello again Todor @todortotev,

I found the issue. The `margin-right` was still there as spacing between slides:

<img width="1321" alt="margin" src="https://user-images.githubusercontent.com/11529148/90606996-e77fa100-e200-11ea-99bb-162681c65607.png">

As mentioned earlier, use **only padding for spacing between slides**. Please take a look at the [modified CodeSandbox](https://codesandbox.io/s/e

[2020-08-19 08:22] todortotev commented on #88
@davidcetinkaya Cant thank you enough for the patience and assistance!

I sent you a mail but I think it could be more proper to discuss here.

I'm an official contributor to Next.js so I'll just drop some advice that I think will help you gain the popularity Embla deserves and I have learned from my experience contributing to their library so far.

I think since you are using slack you can make a

[2020-08-19 08:49] davidcetinkaya commented on #87
Hi again @S1SYPHOS,

Thank you for your patience. I can confirm that this is a bug and will fix this as soon as possible. Nice catch 🙂.

Best,
David

[2020-08-19 12:44] Charuru opened #89 "Infinite Scroll"
Is it possible to add infinite scroll to the carousel?

[2020-08-19 17:10] davidcetinkaya commented on #89
Hi Charles @Charuru,

Do you have an example of infinite scroll so I can better understand your expectations? I would also like to know if you're interested in a vanillaJS or React example?

Kindly
David

[2020-08-19 17:13] Charuru commented on #89
Hi @davidcetinkaya thanks for replying. Would that be an example of a non-carousel infinite scroll or a carousel in my usecase which currently has limited content / not infinite scroll. If the latter do you mind if I DM you with the link? Thanks.

[2020-08-19 17:17] davidcetinkaya commented on #89
Hello again Charles @Charuru,
Sorry, I got confused. You're still interested in an infinite scroll solution right 😊?

[2020-08-19 17:28] Charuru commented on #89
Yes I am still interested. I was asking what type of example you were looking for.

I don't have an infinite scroll carousel example. But I can show you

1. Infinite scroll non-carousel
2. My current embla implementation which has non-infinite scroll, but should help you see why infinite scroll would be useful.

[2020-08-19 17:33] davidcetinkaya commented on #89
@Charuru I see, thanks for clarifying.

So another thing I would like to know is if you're expecting that the carousel should be able to load slides dynamically while still in motion/scrolling?

[2020-08-19 18:33] Charuru commented on #89
I think so? But if that's very hard to do, so long as further slides are loaded and the overall experience doesn't look strange I'm okay with it loading the slides whenever.  Thanks again.

[2020-08-20 08:09] davidcetinkaya commented on #88
I'm glad to be able to help! Don't hesitate to ask more questions if you need more assistance 👍.

Massive thanks for taking the time to share your thoughts and ideas @todortotev!
I will do my best following your guidelines and I'm hoping that this will increase the traction to Embla Carousel. I really like Next.js by the way 🙂.

[2020-08-20 08:11] davidcetinkaya commented on #89
Thank you for the additional information. I'll see if this is achievable with the current state of Embla Carousel and let you know when I've done so.

Cheers
David

[2020-08-20 08:48] davidcetinkaya commented on #84
Hi again @wopian,

Thank you for the explanation, it was clear and concise and better than the Webpack explanation 😉. Feel free to submit a PR adding this to `package.json` after analyzing the code if you want to contribute. Otherwise I'll dig into this as soon as possible.

[2020-08-21 10:05] jordie23 opened #90 "Drag threshold is too high on wide screens"
I'm playing around with the carousel. I have it set up to be a large carousel, so full width on a large screen. When you drag the current slide, it bounces back. You have to drag really far in order for the slide to progress. Is there a way to set a smaller drag distance? Even on dragFree mode, it'll bounce back without a large amount of dragging.

I had a look at the options and as far as I can s

[2020-08-21 14:27] olushchik opened #91 "Embla ref is not initialized correctly if component returns null at the first render"
Hi, David,

I'm trying to migrate my components from old v2.9 with class setup to the latest version of Embla with hook and I ran into the issue which described in the title. Please see the [demonstration](https://codesandbox.io/s/embla-carousel-default-react-forked-wj7hw?file=/src/js/EmblaCarousel.js). Is it a bug or expected behavior?

[2020-08-21 20:54] dipiash opened #92 "Why dependencies located only in devDependencies?"
Hello!

Now we have:
[code]

Maybe we can distribute dependencies like as:
[code]

[2020-08-22 07:15] #92 closed, assigned to nobody

[2020-08-24 05:02] olushchik commented on #91
Hi, David,

Looks perfect! I will wait for a new version with this fix :) Thanks!

[2020-08-24 09:05] samhastings opened #94 "Please consider making "overflow: hidden;" style opt-in"
Currently the [`overflow: hidden` style is hard-coded](https://github.com/davidcetinkaya/embla-carousel/blob/1c3c538751a5f617d810642ba3d439a6bb4497b4/src/react/index.ts#L50) into the React component returned by `useEmblaCarousel()`.

It would be great if this style could be documented as a recommended style in the CSS section of the installation instructions instead of being forced on the componen

[2020-08-24 09:59] davidcetinkaya commented on #94
Hello Sam (@samhastings),

Thank you for your question. My understanding is that most React users appreciate that this is handled automatically because it’s convenient.

With that said, I understand that this won’t be good in every use case so maybe we can discuss possible solutions before taking action?

With the current way things are done, the overflow property can be overridden by passing a `c

[2020-08-24 10:06] davidcetinkaya commented on #91
Thanks a lot for sharing your thoughts Felix @xiel. I agree that both things you mention need attention.

Regarding the options property with the inline object being passed, I’m thinking that a shallow object comparison could solve this (the Embla options object is flat), so we could store options in a red and only reinit Embla when options actually change.

What’s your thoughts about this suggest

[2020-08-24 11:34] samhastings commented on #94
Hi David

Thanks for your quick and in-depth response!

I think your idea of accepting a `style` prop would work, as would accepting an `overflow` prop (typed as  `'visible' | 'hidden'`) which could be passed to a `style` object in the hook. To me this seems like it would create a cleaner API but does prevent additional inline styles being specified (which may not be the end of the world as the `c

[2020-08-25 06:28] davidcetinkaya commented on #94
Hello again Sam (@samhastings),

Thank you for sharing your additional thoughts. Just wanted to say that I’m looking into this. I’m considering exposing a `ref` that can be used on your own component instead of the React component `EmblaCarouselReact` which is the current implementation. This would make the Embla footprint even smaller when it comes to forcing stuff on the user.

Would this make t

[2020-08-25 07:17] olushchik commented on #91
Hi, David,

When can we expect a new version with this fix? :)

[2020-08-25 09:00] davidcetinkaya commented on #91
Hello Oleg (@olushchik),

I'm working on this and making progress. But I wouldn't want to rush this because that will probably introduce unwanted bugs. I'll let you know as soon as I have something. Thank you for your patience.

Kindly
David

[2020-08-25 09:19] davidcetinkaya commented on #91
So here's the current draft @olushchik, @xiel. Any thoughts or feedback?

[code]

Best
David

[2020-08-26 06:00] davidcetinkaya commented on #94
Hi Sam (@samhastings),

Would exposing a `ref` instead of `EmblaCarousel` component help? That would enable you to attach the ref to your own component.

Kindly
David

[2020-08-26 07:07] xiel commented on #91
Few minor things:
1. shadowing of options variable in hasOptionsChanged & use of complex expressions is discouraged in deps array `[..., hasOptionsChanged(options)]`
2. embla state is not reset to undefined when it is not available anymore (eg. container unmounted)
3. duplication - no need to call destroy before set (cleanup is always called first anyway)

I can also recommend using [eslint rule o

[2020-08-26 07:36] davidcetinkaya commented on #91
Hello Felix (@xiel),
Thanks a bunch for taking the time to share your feedback. Regarding the list:

1. You're right! I rushed it a bit and the `useMemo` as you suggest is a better solution.
2. Nice catch. Rushed it here too. Setting this to `undefined` will remove the need of the duplicate destroy.
3. Point 2 solves this.

Again, thanks a lot!

[2020-08-26 08:03] jodiedoubleday opened #95 "Is there a way to link to a specific slide?"
If I have an image carousel of 10 images, and I want to send a link to someone, which specifically links them to the 6th image in the carousel is there a way to do this with Embla?

I was thinking maybe ID on each child which you can link to via the URL i.e www.example.com/carousel#image6

Also want to take this time to say loving your work on this carousel! Thank you!

[2020-08-26 08:16] davidcetinkaya commented on #95
Hello Jodie (@jodiedoubleday), thanks a lot 🙂.

It should be quite possible to achieve. This is not built in to the core though, so I'm thinking you have to do something along these lines:

1. Grab the number from the url www.example.com/carousel#image6 and parse it so you get the number and store it in a variable. Let's say `slideToShow` In this case it would be nr. 6.
2. Scroll the carousel in v

[2020-08-26 08:44] samhastings commented on #94
Can I check I'm understanding you correctly? I'm assuming the code would look something like this...

[code]

[2020-08-26 08:48] davidcetinkaya commented on #94
Hello Sam (@samhastings),

Exactly like that! And the second hook variable you omitted in your example will still be the Embla API like now.

[code]

Kindly
David

[2020-08-26 14:55] samhastings commented on #94
It would certainly work well for me, but wouldn't this be a BC break though? Unless you're going to introduce it in a new `useEmblaRef()` hook of course!

[2020-08-26 19:25] davidcetinkaya commented on #94
Hello Sam (@samhastings),

Yes it is. I've been wanting to refactor the `useEmblaCarousel()` hook anyway so I just did that and released it now. Please read the [migration guide here](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v4.0.0), and let me know if it solves your issue 🙂.

Best
David

[2020-08-26 19:26] davidcetinkaya commented on #91
Hello Oleg (@olushchik),

Please read the [migration guide here](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v4.0.0) and update to the latest version of Embla Carousel. The hook should now work as expected and react to when its container changes.

Let me know if this helps.

Cheers
David

[2020-08-27 13:39] jodiedoubleday commented on #95
Awesome thanks @davidcetinkaya I'll give it a try.

[2020-08-27 13:39] #95 closed

[2020-08-27 14:27] davidcetinkaya commented on #95
I’m glad if it helped. Let me know how it goes @jodiedoubleday.

Best
David

[2020-08-28 15:48] RectoVersoDev opened #96 "Update examples on CodeSandbox for React"
Hello,

First of all, thank you for your excellent work ! This is the best carousel I've ever used. 🔥

Since the 4.0.0 update the previous code doesn't work anymore for arrows & dots for React.

If you could update the CodeSandbox examples it would be awesome!

[2020-08-28 15:55] davidcetinkaya commented on #96
Hello @RectoVersoDev,

Thank you for the awesome feedback =}. Are you sure? I updated the React CodeSandboxes to use the new ref approach yesterday. Maybe cache in your browser is causing this?

You mean this CodeSandbox right?
https://codesandbox.io/embed/embla-carousel-arrows-dots-react-z5fbs

Kindly,
David

[2020-08-28 16:12] RectoVersoDev commented on #96
Ah yes... I see the new code now! Sorry for the inconvenience and thank you for the quick answer! I close the issue

[2020-08-28 16:12] #96 closed

[2020-08-28 16:15] davidcetinkaya commented on #96
Nice to hear that. Thanks and enjoy 🙂!

[2020-08-29 13:23] davidcetinkaya commented on #90
Hi @jordie23,
Do you want to pursue this?

Kindly
David

[2020-08-31 08:01] davidcetinkaya commented on #91
Hello Oleg (@olushchik),

Have you had a chance to try the new version out yet?

Best
David

[2020-08-31 08:02] davidcetinkaya commented on #94
Hello Sam (@samhastings),

Have you had a chance to try the new version out yet?

Best
David

[2020-08-31 08:04] olushchik commented on #91
Hi, David,

Yes, I updated our project to new version and all looks good 👍 Thanks for your work!

Oleg

[2020-08-31 08:07] davidcetinkaya commented on #91
Glad to hear that it’s working. And thank you for the feedback. Most of the cred goes to @xiel for his contributions.

Enjoy!
David

[2020-08-31 08:07] #91 closed

[2020-09-01 07:37] davidcetinkaya commented on #90
Closing this due to lack of response. Feel free to re-open this issue if you want to pursue this @jordie23.

Best
David

[2020-09-01 07:41] davidcetinkaya commented on #89
Hello Charles (@Charuru),

I've been testing this a bit and came to the conclusion that it isn't possible to load new slides while the carousel still is in motion. The current state of Embla stops any animation as soon as you re-initialize the carousel in order to pick up added slides/removed slides.

Do you want me to treat this issue as a feature request?

Best
David

[2020-09-01 11:45] Charuru commented on #89
Yes please, it makes sense as a feature request, thank you.

[2020-09-04 03:52] jeiea opened #97 "How about adding minification?"
Currently there seems to be no minification process. Adding it may decrease the package size.

And original source is included to the final package as well despite of source maps. It may be removed.

[2020-09-04 08:42] davidcetinkaya commented on #97
Hi @jeiea,

Thank you for your question. In order to understand you better, I need answers to the following questions, so please take a moment to answer them:

- Are you using the vanilla-js or React.js version of Embla Carousel?
- Are you using any module bundler like Webpack or a script tag to integrate Embla Carousel?

Kindly
David

[2020-09-04 08:53] jeiea commented on #97
1. React
2. webpack

[2020-09-04 09:04] davidcetinkaya commented on #97
@jeiea, I might be misunderstanding you, but if you’re using a module bundler, that should take care of the minification process. Meaning your Webpack setup should minify all your JavaScript when creating your final production ready bundle.

I think this is a convention for ESM modules and Common JS modules in NPM packages. Only files intended for CDN usage and script tags should be minified. This

[2020-09-04 09:52] jeiea commented on #97
I agree you are right.

I misread type information files. There was no problem.

[2020-09-04 09:52] #97 closed

[2020-09-04 10:36] davidcetinkaya commented on #97
@jeiea ah, I see 🙂.

Thank you and enjoy!
David

[2020-09-07 16:57] Grawl opened #98 "Fullscreen"
Feature request

[2020-09-07 19:03] flayks opened #99 "Enable or disable on certain screen sizes"
I'm trying to use Embla (which is fantastic btw, great job) only on mobile, so sort of disabling it on desktop when it's been enabled on mobile (i.e. window resize or orientation change).

So for instance:
1. Load: Desktop screen size (>768) => No carousel
2. Resize: to Mobile (<768) => Init carousel
3. Resize: to Desktop (>768) => Destroy carousel
4. etc…

Flickity has this cool feature where it

[2020-09-07 19:20] flayks commented on #35
Nice example! When using Embla with React, how to disable by default then? Because it seems that it's initializing by any case

[2020-09-07 20:12] flayks commented on #99
Just for the context, this is kind of what I'm trying to achieve, with code based on [this answer](https://github.com/davidcetinkaya/embla-carousel/issues/35#issuecomment-559116920), but it doesn't really seem to work when resizing to a >768 screen size from mobile (it should destroy but the carousel is still "active" and has inline styles applied)

[code]

[2020-09-08 09:04] davidcetinkaya commented on #99
Hello Félix (@flayks),

Thank you for your question. I think the code in this [old issue you mention](https://github.com/davidcetinkaya/embla-carousel/issues/35#issuecomment-559116920) is probably **outdated**. A lot has changed with the React implementation of Embla Carousel since then.

I took some time to create a [CodeSandbox](https://isr3u.csb.app) that implements what you want to achieve. [H

[2020-09-08 09:28] davidcetinkaya commented on #98
Hello @Grawl,

Thank you for your feature request. Embla Carousel is a **bare bones** carousel library so I'm not sure it makes sense to implement this into the package core, because it will increase the bundle size for all users.

With that said, would you want me to create a **CodeSandbox** demonstrating how to achieve this for you?

Kindly,
David

[2020-09-08 17:40] davidcetinkaya commented on #94
@samhastings I'm closing this as resolved because the [ref](https://github.com/davidcetinkaya/embla-carousel/issues/94#issuecomment-680747881) implementation has been released.

[2020-09-08 17:40] #94 closed

[2020-09-08 20:34] flayks commented on #99
Thank you so much @davidcetinkaya for your time and answer! That sounds very good. I'll have a look tomorrow and let you know.

[2020-09-09 06:47] flayks commented on #99
@davidcetinkaya I tried your example and it works… partially, haha. Even on your CodeSandbox, it seems that coming from a small screen (<768, where the carousel is enabled), to the Desktop, the carousel is not really destroyed and we can still drag slides. The behavior should be that when starting on mobile, it should dynamically destroy and reinit the carousel.

[2020-09-09 06:56] davidcetinkaya commented on #99
@flayks that’s strange. I can’t drag it and it works for me. Which link did you click on?

[2020-09-09 07:03] duza opened #100 "The slides are not showing at the end of the carousel with a large number of slides."
I used your example with `Variable Widths` and changed the number of slides https://codesandbox.io/s/embla-carousel-variablewidths-react-forked-4nshv You can see that 11 last slides are not showing. Also, I output scroll positions and got
[code]
The snap point positions for last 12 slides equals to 1. Is it normal?

[2020-09-09 07:12] flayks commented on #99
This exact one! Here is a video to show more context:
https://streamable.com/8zzx85

[2020-09-09 07:13] davidcetinkaya commented on #100
Hello @duza,
I can only see 9 slides in your forked sandbox?

![CE7C1E1A-9A52-4E59-98C8-41F383F32992](https://user-images.githubusercontent.com/11529148/92566518-a1a47e80-f27c-11ea-99cd-2d8c170f4354.jpeg)

Did you forget to update it?

[2020-09-09 07:16] duza commented on #100
Hi @davidcetinkaya, sorry I forgot to save it :(  I saved changes now for forked version. Make sure that the problem exists.

[2020-09-09 07:18] davidcetinkaya commented on #100
Thanks @duza, I will take a look at it as soon as possible and let you know when I have something.

[2020-09-09 07:19] davidcetinkaya commented on #99
So strange. Thanks for the video @flayks. I’ll take a look at it and will let you know when I have something.

[2020-09-09 07:22] davidcetinkaya commented on #100
@duza you haven’t specified any base width for the slides? As you can see in the CSS slide 1 to 9 all have widths specified.

![06E7B989-7910-4D1C-B2F1-67CCEFED4BE6](https://user-images.githubusercontent.com/11529148/92567417-f5fc2e00-f27d-11ea-9ba1-fd49a173a59a.jpeg)

Let me know if it works.

Best
David

[2020-09-09 07:27] duza commented on #100
@davidcetinkaya Yeap, you are right. Thank you very much

[2020-09-09 07:30] davidcetinkaya commented on #100
@duza no worries. Congratulations, you opened issue number #100 😃. Enjoy!

Kindly
David

[2020-09-09 07:33] #100 closed

[2020-09-09 07:33] duza commented on #100
@davidcetinkaya But you know, when I fixed width in css the last slide didn't show at all.

[2020-09-09 07:36] davidcetinkaya commented on #100
Have you updated the CodeSandbox so I can take a look?

[2020-09-09 07:37] duza commented on #100
Sorry, It's my fault again, I didn't set the width for the last one, 20th. You can close this issue. Thank you.

[2020-09-09 09:25] davidcetinkaya commented on #99
Hello again Félix (@flayks),

So I found why this is happening. Embla will re-initialize on the resize event internally, and this resize event is debounced with 500 milliseconds. This is my understanding of it:

- When you resize the window, it triggers Embla's internal debounced resize event.
- When the ref gets `null` Embla destroys itself.
- After 500 milliseconds, the debounced resize callback

[2020-09-09 10:11] flayks commented on #99
@davidcetinkaya Oh wow, good work on finding that David! I kind of saw when trying the resizing method that it was debounced, but I didn't know that it would affect the destroy method as well.
Thanks for your digging. Other than that, the library is on point 👌

[2020-09-09 13:29] davidcetinkaya commented on #99
Hi Félix (@flayks),

A patch fix is now on its way, [release v4.0.2](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v4.0.2) should solve this issue. Please give it a go and let me know if it helps.

Best
David

[2020-09-09 13:35] flayks commented on #99
@davidcetinkaya hella fast! Thanks for fixing that issue, it's gonna help lots on my current project 💥

[2020-09-09 13:35] davidcetinkaya commented on #99
Hello Félix (@flayks),
[Release 4.0.2](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v4.0.2) comes with a fix for this issue. Please let me know if it's working as intended.

Best,
David

[2020-09-09 15:02] davidcetinkaya commented on #99
@flayks so this solves the issue right 🙂?

[2020-09-09 15:03] flayks commented on #99
@davidcetinkaya absolutely! Works like a charm now. Thanks again!

[2020-09-09 15:05] davidcetinkaya commented on #99
I’m glad to hear that! Thank you for opening this issue and making Embla Carousel better 👍🏻.

Best,
David

[2020-09-09 15:05] #99 closed

[2020-09-10 09:10] jeiea opened #101 "Release drag when pointer get out of element"
# What I did
1. Open this [example](https://codesandbox.io/s/embla-carousel-default-vanilla-gqh0n).
2. Press mouse left button in embla.
3. Drag out of right pane (browser page)
4. Release the button.
5. Move the pointer to right pane.

# What I expected
Smooth scroll like [keen-slider](https://codesandbox.io/s/keen-slider-free-react-v520u?file=/src/App.js).

# What I got
Embla captures mouse in w

[2020-09-10 09:22] samhastings commented on #94
Hi David, sorry that it's taken me so long to get a chance to try this. The project was put on hold for a couple of weeks while I worked on other stuff. Pleased to say this is working perfectly. Thanks for taking the time to implement my request. I really appreciate it.